Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

deploy-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:temporal

deploy-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:dndiy

deploy-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:megameal

deploy-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:travel

add: pct-pack-weight-ultralight-v2-1
  apps/travel/src/content/posts/pct-pack-weight-ultralight-v2-1.md
Due: deploy-travel

update: refresh pct pack weight media
  apps/travel/public/posts/mt-hood.jpg
  apps/travel/public/posts/pct-pack-weight/aluminum-spork.png
  apps/travel/public/posts/pct-pack-weight/title.jpg
  apps/travel/src/content/posts/pct-pack-weight-ultralight-v2-1.md
Due: deploy-travel

tweak: move spork image to finale
  apps/travel/src/content/posts/pct-pack-weight-ultralight-v2-1.md
Due: deploy-travel

fixed security flaw for denial of service hacks
  DNDIY.github.io/package.json
  DNDIY.github.io/pnpm-lock.yaml
  Temporal-Flow/package.json
  Temporal-Flow/pnpm-lock.yaml
  apps/travel/public/posts/pct-pack-weight/title-2.jpg
  package.json
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

blogging
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
Due: deploy-travel

feat(banner): add motion animation support (zoom/pan) to image banners
  Temporal-Flow/src/config/banners/standard.ts
  Temporal-Flow/src/config/banners/types.ts
  apps/travel/src/config/banner.config.ts
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

chore(dndiy): bump astro+svelte deps and regenerate lockfile
  DNDIY.github.io/package.json
  DNDIY.github.io/pnpm-lock.yaml
Due: deploy-dndiy

fix(ci): sync workspace lockfile for dndiy dependency bump
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

minor post edits
  apps/travel/public/posts/pct-reasons/title.jpeg
  apps/travel/public/posts/pct-reasons/watch2.png
  apps/travel/src/config/banner.config.ts
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
Due: deploy-travel

ci(preview): build changed sites and add size-aware pruning
  .github/workflows/dev-pages-preview.yml
Due: none

fix(preview): prevent 404s for unchanged site paths
  .github/workflows/dev-pages-preview.yml
Due: none

fix(banners): update banner images and alt text for DNDIY
  DNDIY.github.io/src/config/banners/standard.ts
  DNDIY.github.io/src/pages/rss.xml.ts
  Temporal-Flow/src/config/banners/standard.ts
Due: deploy-temporal, deploy-dndiy

refactor(banner): make MainGridLayout the banner height source of truth
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

banner configuration adjustments
  DNDIY.github.io/src/config/banner.config.ts
  Temporal-Flow/src/config/banner.config.ts
  apps/megameal/src/config/banner.config.ts
  apps/travel/src/config/banner.config.ts
  apps/travel/src/content/avatar/avatar.jpg
  apps/travel/src/content/avatar/avatar.png
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

slight adjustment to megameal main banner size
  apps/megameal/src/config/banner.config.ts
Due: deploy-megameal

adjust mobile banner location a bit
  DNDIY.github.io/src/config/banner.config.ts
  Temporal-Flow/src/config/banner.config.ts
  apps/megameal/src/config/banner.config.ts
  apps/travel/src/config/banner.config.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(seo): use mutable response for sitemap redirect endpoints
  DNDIY.github.io/src/pages/sitemap.xml.ts
  Temporal-Flow/src/pages/sitemap.xml.ts
  apps/megameal/src/pages/sitemap.xml.ts
  apps/travel/src/pages/sitemap.xml.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Add early SoCal foraging post assets and fix reactive author avatar sync
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/chia-sage-closeup.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/chia-sage-seeds.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/chia-sage.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/mesquite-habit.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/mesquite-pod-closeup.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/mesquite-pods.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/miners-lettuce-basal.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/miners-lettuce-flowers.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/miners-lettuce.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/prickly-pear-flower.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/prickly-pear-kew.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/prickly-pear.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/title.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/wild-mustard-closeup.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/wild-mustard-plant.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/wild-mustard.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/yucca-flower.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/yucca-seedpod.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/yucca.jpg
  apps/travel/src/config/banner.config.ts
  apps/travel/src/content/posts/_foraging_campo_to_julian.md
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
  apps/travel/src/content/posts/foraging-desert-edible-plants-campo-to-julian.md
  packages/blog-core/src/components/client/MobileProfileOverlay.svelte
  packages/blog-core/src/components/client/Profile.svelte
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
