Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

deploy-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:temporal

deploy-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:dndiy

deploy-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:megameal

deploy-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:travel

Publish Megameal audio and store updates
  .gitattributes
  apps/megameal/public/audio/ambient/Dreamy ambient video game(2).mp3
  apps/megameal/public/audio/ambient/boss-battle-2aup3b.mp3
  apps/megameal/src/components/home/featured-product/FeaturedProductPurchaseSheet.svelte
  apps/megameal/src/components/home/featured-product/types.ts
  apps/megameal/src/components/snuggaloids/SnuggaloidRegistryList.svelte
  apps/megameal/src/components/store/CartDrawer.svelte
  apps/megameal/src/components/store/CheckoutConsole.svelte
  apps/megameal/src/components/store/ProductCustomizer.svelte
  apps/megameal/src/config/snuggaloidCustomizer.ts
  apps/megameal/src/content.config.ts
  apps/megameal/src/content/products/snuggaloids.md
  apps/megameal/src/content/snuggaloids/chirp-current-domestic-form.mdx
  apps/megameal/src/pages/snuggaloids/index.astro
  apps/megameal/src/stores/cartStore.ts
  apps/megameal/src/styles/features/home/featured-product-commerce.css
  apps/megameal/src/styles/features/store/product-customizer.css
  apps/megameal/src/types/product-customizer.ts
  apps/megameal/src/utils/flagship-product-showcase.ts
  merkin-lora-good.tar.gz
  packages/shared-audio/src/site-audio-profile.ts
  scripts/runpod-train-merkin-qwen-2512.sh
  scripts/setup-runpod-ai-toolkit.sh
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Remove local LoRA archive from repo
  .gitattributes
  .gitignore
  merkin-lora-good.tar.gz
Due: none

Update boss battle ambient track
  apps/megameal/public/audio/ambient/boss-battle-2aup3b.mp3
Due: deploy-megameal

Refine site audio control UX
  apps/megameal/src/components/client/SiteAudioControl.svelte
  apps/megameal/src/components/client/SiteSfxBridge.svelte
  apps/megameal/src/styles/features/extracted/site-audio-control.css
Due: deploy-megameal

Preserve route styles during client navigation
  packages/blog-core/src/components/client/PageNavigation.svelte
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Restore timeline navbar container
  apps/megameal/src/styles/features/extracted/navbar.css
  packages/blog-core/src/components/client/PageNavigation.svelte
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine Observatory firefly lighting runtime
  apps/game/scripts/test-publish-pipeline.ts
  apps/game/src/threlte/editor/EditorFireflyFieldControls.svelte
  apps/game/src/threlte/editor/EditorNodeRenderContent.svelte
  apps/game/src/threlte/editor/EditorNpcSection.svelte
  apps/game/src/threlte/editor/EditorSceneLayer.svelte
  apps/game/src/threlte/editor/EditorSceneNode.svelte
  apps/game/src/threlte/editor/defaultScenes.ts
  apps/game/src/threlte/editor/editorLevelSetup.ts
  apps/game/src/threlte/editor/editorNpcControls.ts
  apps/game/src/threlte/editor/scenes/observatory.scene.json
  apps/game/src/threlte/engine/npcTypes.ts
  apps/game/src/threlte/engine/npcValidationCore.mjs
  apps/game/src/threlte/engine/sceneDocumentTypes.ts
  apps/game/src/threlte/engine/sceneFireflyField.ts
  apps/game/src/threlte/features/lighting/RuntimeLightingSystem.svelte
  apps/game/src/threlte/features/lighting/RuntimeManagedPointLight.svelte
  apps/game/src/threlte/features/npc/presentation/RuntimeFireflyNpc.svelte
  apps/game/src/threlte/features/npc/presentation/fireflyNpcPresentation.ts
  apps/game/src/threlte/features/performance/utils/runtimeSceneBudget.ts
  apps/game/src/threlte/levels/RuntimeActorBranch.svelte
  apps/game/src/threlte/levels/RuntimeActorNode.svelte
  apps/game/src/threlte/levels/SceneDocumentLevel.svelte
  apps/game/src/threlte/levels/SceneFireflyField.svelte
  apps/megameal/public/generated/runtime-game-assets/manifest.json
  apps/megameal/public/generated/runtime-game-assets/manifest.previous.json
  apps/megameal/public/generated/runtime-game-assets/scenes/observatory.runtime-scene.json
Due: deploy-megameal

Document water surface contract completion
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/GAME_ENGINE_DESIGN_DOCUMENT.md
  apps/game.megameal/docs/WATER_SURFACE_SYSTEM_PLAN.md
Due: none

Add ambient audio contracts and observatory collision notes
  apps/game.megameal/ARCHITECTURE.md
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/GAME_ENGINE_DESIGN_DOCUMENT.md
  apps/game.megameal/docs/Done/PORTAL_FIELD_TERRAIN_INTENT.md
  apps/game.megameal/docs/GAME_ENGINE_MIGRATION_PLAN.md
  apps/game.megameal/docs/OBSERVATORY_COLLISION_SYSTEM_FINDINGS.md
  apps/game.megameal/docs/OBSERVATORY_PLAYABLE_FOUNDATION_PLAN.md
  apps/game.megameal/docs/PLAYER_CONTROLS_MIGRATION_PLAN.md
  apps/game.megameal/public/audio/ambient/AMBIENT_AUDIO_SOURCES.md
  apps/game.megameal/public/audio/sfx/PORTAL_SFX_SOURCES.md
  apps/game.megameal/scripts/test-input-contract.ts
  apps/game.megameal/scripts/test-runtime-scene-contract.ts
  apps/game.megameal/scripts/test-story-note-contract.ts
  apps/game.megameal/src/engine/adapters/browser/audio.ts
  apps/game.megameal/src/engine/adapters/browser/index.ts
  apps/game.megameal/src/engine/modules/audio/index.ts
  apps/game.megameal/src/game/assets/ambientAudioAssets.ts
  apps/game.megameal/src/game/assets/defaultAssets.ts
  apps/game.megameal/src/game/assets/index.ts
  apps/game.megameal/src/game/assets/observatoryAssets.ts
  apps/game.megameal/src/game/assets/portalArenaAssets.ts
  apps/game.megameal/src/game/levels/defaultLevels.ts
  apps/game.megameal/src/game/levels/portalArenaLevel.ts
  apps/game.megameal/src/game/levels/runtimeSceneManifests.ts
  apps/game.megameal/src/game/prefabs/observatoryPrefabs.ts
  apps/game.megameal/src/game/runtime/index.ts
  apps/game.megameal/src/game/scenes/index.ts
  apps/game.megameal/src/game/systems/hud.ts
Due: none

Advance game engine level migration contracts
  apps/game.megameal/ARCHITECTURE.md
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/GAME_ENGINE_DESIGN_DOCUMENT.md
  apps/game.megameal/docs/GAME_ENGINE_MIGRATION_PLAN.md
  apps/game.megameal/docs/MIGRATION_ACTIVE_WORK_PLAN_2026-06-06.md
  apps/game.megameal/docs/MIGRATION_AGENT_ALIGNMENT_2026-06-06.md
  apps/game.megameal/docs/MIGRATION_HANDOFF_2026-06-06.md
  apps/game.megameal/docs/OBSERVATORY_COLLISION_SYSTEM_FINDINGS.md
  apps/game.megameal/docs/OBSERVATORY_PLAYABLE_FOUNDATION_PLAN.md
  apps/game.megameal/public/audio/sfx/PORTAL_SFX_SOURCES.md
  apps/game.megameal/scripts/test-runtime-scene-contract.ts
  apps/game.megameal/src/engine/data/manifests/index.ts
  apps/game.megameal/src/engine/data/schemas/index.ts
  apps/game.megameal/src/engine/modules/physics/index.ts
  apps/game.megameal/src/game/assets/defaultAssets.ts
  apps/game.megameal/src/game/assets/index.ts
  apps/game.megameal/src/game/assets/portalArenaAssets.ts
  apps/game.megameal/src/game/assets/portalAssets.ts
  apps/game.megameal/src/game/levels/defaultLevels.ts
  apps/game.megameal/src/game/levels/observatoryLevel.ts
  apps/game.megameal/src/game/levels/runtimeSceneManifests.ts
  apps/game.megameal/src/game/prefabs/defaultPrefabs.ts
  apps/game.megameal/src/game/prefabs/index.ts
  apps/game.megameal/src/game/prefabs/navigationPrefabs.ts
  apps/game.megameal/src/game/prefabs/observatoryPrefabs.ts
  apps/game.megameal/src/game/prefabs/portalPrefabs.ts
  apps/game.megameal/src/game/runtime/index.ts
Due: none

Update game megameal migration docs
  apps/game.megameal/docs/Done/OBSERVATORY_PLAYABLE_FOUNDATION_PLAN.md
  apps/game.megameal/docs/GAME_ENGINE_MIGRATION_PLAN.md
  apps/game.megameal/docs/LEVEL_EDITOR_COLLISION_COOK_PLAN.md
Due: none

Refactor audio unlock handling to accept event parameters for user gestures
  apps/megameal/docs/HOME_PORTAL_CLEANUP_AUDIT.md
  apps/megameal/docs/HOME_PORTAL_CLEANUP_WORKLOG.md
  apps/megameal/docs/PROTECTED_HOME_PORTAL_SURFACE.md
  apps/megameal/package.json
  apps/megameal/public/assets/3D/screen.glb
  apps/megameal/scripts/audit-home-portal-contracts.mjs
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
  apps/megameal/src/components/home/PortalDemoVideoPlayer.astro
  apps/megameal/src/components/home/PortalHeroBackgroundSlide.astro
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/components/home/portalScrollStages.ts
  apps/megameal/src/config/config.ts
  apps/megameal/src/contracts/homePortal.ts
  apps/megameal/src/styles/pages/community.css
  apps/megameal/src/utils/site-audio.ts
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/posts.json
  packages/shared-data/generated/timeline.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Add First Contact Manual style guide, world bible, and agent instructions
  apps/megameal/docs/first-contact-manual-style-guide.md
  apps/megameal/docs/first-contact-manual-world-bible.md
  apps/megameal/public/about/linda-sue.webp
  apps/megameal/src/components/reader/ReaderPage.astro
  apps/megameal/src/content/about/gregory-aster.mdx
  apps/megameal/src/content/about/linda-sue.md
  apps/megameal/src/content/posts/first-contact-manual-style-guide.mdx
  apps/megameal/src/content/posts/first-contact-manual-world-bible.mdx
  apps/megameal/src/content/reader/first-contact-manual/_AGENTS.md
  apps/megameal/src/content/reader/first-contact-manual/afterword.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-1.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-2.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-3.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-4.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-5.mdx
  apps/megameal/src/content/reader/first-contact-manual/forward.mdx
  apps/megameal/src/contracts/content.ts
  apps/megameal/src/pages/pdf/reader/[...slug].astro
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/posts.json
  packages/shared-data/src/build/build-posts-manifest.ts
  scripts/generate-post-pdfs.mjs
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refactor code structure for improved readability and maintainability
  apps/megameal/docs/first-contact-manual-style-guide(old).md
  apps/megameal/docs/first-contact-manual-style-guide.md
  apps/megameal/src/components/reader/ReaderPage.astro
  apps/megameal/src/content/reader/first-contact-manual/afterword.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-1.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-2.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-3.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-4.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-5.mdx
  apps/megameal/src/content/reader/first-contact-manual/forward (another copy).mdx
  apps/megameal/src/content/reader/first-contact-manual/forward (copy).mdx
  apps/megameal/src/content/reader/first-contact-manual/forward.mdx
  apps/megameal/src/content/reader/first-contact-manual/forwardwcss.mdx
  apps/megameal/src/pages/pdf/reader/[...slug].astro
  apps/megameal/src/styles/reader/first-contact-manual.css
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/timeline.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

minor edits to forward yo.
  apps/megameal/src/content/reader/first-contact-manual/forward.mdx
  apps/megameal/src/styles/reader/first-contact-manual.css
Due: deploy-megameal

Add first contact manual consistency review and new flow styles
  apps/megameal/docs/first-contact-manual-style-guide(old).md
  apps/megameal/docs/first-contact-manual-style-guide.md
  apps/megameal/docs/first-contact-manual-world-bible.md
  apps/megameal/public/first-contact/aliens.webp
  apps/megameal/src/components/reader/ManualSurvivalImperative.astro
  apps/megameal/src/content/posts/first-contact-manual-style-guide.mdx
  apps/megameal/src/content/posts/first-contact-manual-world-bible.mdx
  apps/megameal/src/content/reader/first-contact-manual/_AGENTS.md
  apps/megameal/src/content/reader/first-contact-manual/afterword.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-1.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-2.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-3.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-4.mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-5.mdx
  apps/megameal/src/content/reader/first-contact-manual/forward (another copy).mdx
  apps/megameal/src/content/reader/first-contact-manual/forward (copy).mdx
  apps/megameal/src/content/reader/first-contact-manual/forward.mdx
  apps/megameal/src/content/reader/first-contact-manual/forwardwcss.mdx
  apps/megameal/src/styles/reader/first-contact-manual-flow.css
  apps/megameal/src/styles/reader/first-contact-manual.css
  package.json
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine portal visuals and audio unlock
  apps/megameal/src/components/client/SiteAudioRuntime.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroLogoModel.svelte
  apps/megameal/src/components/home/HomeIntroRingGlow.svelte
  apps/megameal/src/utils/site-audio-activation.ts
  apps/megameal/src/utils/site-audio.ts
Due: deploy-megameal

Delay home portal demo handoff
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/homeIntroScreens.ts
Due: deploy-megameal

Exclude blog pusher from site workspace
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Complete Megameal level editor save publish
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/docs/LEVEL_EDITOR_SAVE_PUBLISH_COMPLETION_PLAN.md
  apps/game.megameal/scripts/test-level-editor-authoring-contract.ts
  apps/game.megameal/scripts/test-level-editor-feature-catalog-contract.ts
  apps/game.megameal/scripts/test-level-editor-save-contract.ts
  apps/game.megameal/scripts/test-level-editor-workspace-model-contract.ts
  apps/game.megameal/src/app/editor/LevelEditorWorkspace.svelte
  apps/game.megameal/src/app/editor/levelEditorAuthoringClient.ts
  apps/game.megameal/src/app/editor/levelEditorWorkspaceModel.ts
  apps/game.megameal/src/engine/data/levelAuthoring/index.ts
  apps/game.megameal/src/engine/data/levelAuthoring/ownerWritePlan.ts
  apps/game.megameal/src/engine/data/levelAuthoring/types.ts
  apps/game.megameal/src/game/editor/authoring/generated/portal_arena_runtime.authoringSave.ts
  apps/game.megameal/src/game/editor/authoring/index.ts
  apps/game.megameal/src/game/editor/authoring/ownerRegistry.ts
  apps/game.megameal/src/game/editor/authoring/publishedLevelTransforms.ts
  apps/game.megameal/src/game/editor/authoring/saveTransaction.ts
  apps/game.megameal/src/game/generated/publishedLevelTransforms.ts
  apps/game.megameal/src/game/levels/publishedLevelOverrides.ts
  apps/game.megameal/src/game/levels/runtimeSceneManifests.ts
  apps/game.megameal/src/pages/api/editor/authoring/_shared.ts
  apps/game.megameal/src/pages/api/editor/authoring/dry-run.json.ts
  apps/game.megameal/src/pages/api/editor/authoring/publish-local.json.ts
  apps/game.megameal/src/pages/api/editor/authoring/save-level.json.ts
  apps/game.megameal/src/pages/api/editor/authoring/status.json.ts
Due: none

Update Megameal manual and layout work
  apps/megameal/docs/first-contact-manual-style-guide.md
  apps/megameal/src/content/posts/first-contact-manual-style-guide.mdx
  apps/megameal/src/content/reader/first-contact-manual/_AGENTS.md
  apps/megameal/src/content/reader/first-contact-manual/chapter-1 (copy).mdx
  apps/megameal/src/content/reader/first-contact-manual/chapter-1.mdx
  apps/megameal/src/content/reader/first-contact-manual/unfinished_chapter
  apps/megameal/src/layouts/store/StoreLayout.astro
  apps/megameal/src/layouts/store/storeLayoutChrome.ts
  apps/megameal/src/styles/reader/first-contact-manual-exotic-ledger.css
  apps/megameal/src/styles/reader/first-contact-manual-flow.css
  apps/megameal/src/styles/reader/first-contact-manual-planck.css
  apps/megameal/src/styles/reader/first-contact-manual-quantum.css
  packages/blog-core/src/components/client/PageNavigation.svelte
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Publish Megameal reader and audit fixes
  apps/game.megameal/scripts/test-editor-ai-contract.ts
  apps/game.megameal/scripts/test-level-editor-aaa-plan-contract.ts
  apps/megameal/src/content/reader/first-contact-manual/chapter-1.mdx
  apps/megameal/src/content/reader/first-contact-manual/unfinished_chapter
  apps/megameal/src/styles/reader/first-contact-manual-flow.css
Due: deploy-megameal

light edits
  apps/megameal/src/content/reader/first-contact-manual/unfinished_chapter
  apps/megameal/src/content/reader/first-contact-manual/unfinished_chapter - Copy
Due: deploy-megameal

Refactor code structure for improved readability and maintainability
  apps/game.megameal/ARCHITECTURE.md
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/docs/LEVEL_EDITOR_AAA_RESEARCH_AND_GAP_ANALYSIS.md
  apps/game.megameal/docs/LEVEL_EDITOR_SAVE_PUBLISH_COMPLETION_PLAN.md
  apps/game.megameal/docs/LEVEL_EDITOR_WORKBENCH_IMPLEMENTATION_PROGRESS.md
  apps/game.megameal/docs/LEVEL_EDITOR_WORKSPACE_ALIGNMENT.md
  apps/game.megameal/package.json
  apps/game.megameal/scripts/test-level-editor-aaa-plan-contract.ts
  apps/game.megameal/scripts/test-level-editor-feature-catalog-contract.ts
  apps/game.megameal/scripts/test-level-editor-save-contract.ts
  apps/game.megameal/scripts/test-level-editor-viewport-bridge-model-contract.ts
  apps/game.megameal/scripts/test-level-editor-workbench-model-contract.ts
  apps/game.megameal/scripts/test-level-editor-workspace-model-contract.ts
  apps/game.megameal/src/app/editor/LevelEditorObjectLibraryPanel.svelte
  apps/game.megameal/src/app/editor/LevelEditorViewportBridgePanel.svelte
  apps/game.megameal/src/app/editor/LevelEditorWorkspace.svelte
  apps/game.megameal/src/app/editor/levelEditorAuthoringStore.ts
  apps/game.megameal/src/app/editor/levelEditorObjectLibrary.ts
  apps/game.megameal/src/app/editor/levelEditorViewportBridgeModel.ts
  apps/game.megameal/src/app/editor/levelEditorWorkbenchModel.ts
  apps/game.megameal/src/app/editor/levelEditorWorkspaceModel.ts
  apps/game.megameal/src/game/editor/authoring/index.ts
  apps/game.megameal/src/game/editor/authoring/ownerRegistry.ts
  apps/game.megameal/src/game/editor/authoring/publishedLevelTransforms.ts
  apps/game.megameal/src/game/editor/objectLibrary/index.ts
  apps/game.megameal/src/game/generated/publishedLevelTransforms.ts
  apps/game.megameal/src/game/levels/publishedLevelOverrides.ts
  apps/game.megameal/src/pages/api/editor/authoring/_shared.ts
  apps/game.megameal/src/styles/editor.css
  apps/megameal/public/first-contact/beyond-biology.webp
  apps/megameal/public/first-contact/extremeophiles.webp
  apps/megameal/public/first-contact/scale-categories.webp
  apps/megameal/src/content/reader/first-contact-manual/chapter-1.mdx
Due: deploy-megameal

Format level editor workspace state source
  apps/game.megameal/src/app/editor/LevelEditorWorkspace.svelte
Due: none

Refactor code structure for improved readability and maintainability
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/docs/LEVEL_EDITOR_AAA_RESEARCH_AND_GAP_ANALYSIS.md
  apps/game.megameal/docs/LEVEL_EDITOR_SAVE_PUBLISH_COMPLETION_PLAN.md
  apps/game.megameal/docs/LEVEL_EDITOR_WORKBENCH_IMPLEMENTATION_PROGRESS.md
  apps/game.megameal/package.json
  apps/game.megameal/scripts/test-level-editor-aaa-plan-contract.ts
  apps/game.megameal/scripts/test-level-editor-selected-object-renderable-picker-contract.ts
  apps/game.megameal/scripts/test-level-editor-viewport-bridge-model-contract.ts
  apps/game.megameal/scripts/test-level-editor-workspace-model-contract.ts
  apps/game.megameal/src/app/editor/LevelEditorObjectLibraryPanel.svelte
  apps/game.megameal/src/app/editor/LevelEditorRenderableAssetPicker.svelte
  apps/game.megameal/src/app/editor/LevelEditorViewportBridgePanel.svelte
  apps/game.megameal/src/app/editor/LevelEditorWorkspace.svelte
  apps/game.megameal/src/app/editor/levelEditorObjectLibrary.ts
  apps/game.megameal/src/app/editor/levelEditorRenderableAssetPickerModel.ts
  apps/game.megameal/src/app/editor/levelEditorViewportBridgeModel.ts
  apps/game.megameal/src/app/editor/levelEditorViewportCameraModel.ts
  apps/game.megameal/src/app/editor/levelEditorWorkspaceModel.ts
  apps/game.megameal/src/app/editor/levelEditorWorkspaceUi.ts
  apps/megameal/public/first-contact/technical-gap-wide.webp
  apps/megameal/src/content/reader/first-contact-manual/chapter-2.mdx
Due: deploy-megameal

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
