Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml

add: boudin-noir-restaurant-review
  DNDIY.github.io/src/content/posts/boudin-noir-restaurant-review.mdx
Due: deploy-dndiy

fix: remove stray dndiy root post
  DNDIY.github.io/src/content/posts/boudin-noir-restaurant-review.mdx
Due: deploy-dndiy

add: boudin-noir-restaurant-review
  apps/megameal/src/content/posts/boudin-noir-restaurant-review.mdx
Due: deploy-megameal

fix: remove stray megameal root post
  apps/megameal/src/content/posts/boudin-noir-restaurant-review.mdx
Due: deploy-megameal

update: end-of-time
  apps/megameal/src/content/posts/timelines/end-of-time.mdx
Due: deploy-megameal

Improve mobile layout responsiveness across sites
  DNDIY.github.io/src/styles/main.css
  DNDIY.github.io/src/styles/timeline-styles.css
  Temporal-Flow/src/styles/main.css
  Temporal-Flow/src/styles/timeline-styles.css
  apps/megameal/src/components/Navbar.astro
  apps/megameal/src/styles/main.css
  apps/megameal/src/styles/timeline-styles.css
  apps/travel/src/styles/main.css
  apps/travel/src/styles/timeline-styles.css
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/styles/main.css
  packages/blog-core/src/styles/timeline-styles.css
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Adjust mobile landscape homepage layout and restore full-width banner
  DNDIY.github.io/src/styles/main.css
  Temporal-Flow/src/styles/main.css
  apps/megameal/src/styles/main.css
  apps/travel/src/styles/main.css
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/blog-core/src/styles/main.css
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Pin journal to right column on mobile landscape home
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Match mobile landscape home rail layout to per-site desktop right rail
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Layout improvements, profile update, and draft post
  DNDIY.github.io/src/components/widget/SideBar.astro
  Temporal-Flow/src/components/widget/SideBar.astro
  apps/megameal/src/components/widget/SideBar.astro
  apps/travel/src/components/widget/SideBar.astro
  apps/travel/src/config/config.ts
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
  packages/blog-core/src/components/client/SpecialPageFeatures.svelte
  packages/blog-core/src/components/control/ButtonLink.astro
  packages/blog-core/src/components/control/ButtonTag.astro
  packages/blog-core/src/components/widget/Profile.astro
  packages/blog-core/src/components/widget/SideBar.astro
  packages/blog-core/src/components/widget/UpdatesRail.astro
  packages/blog-core/src/components/widget/WidgetLayout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat: refine responsive rail and postcard layouts
  DNDIY.github.io/src/components/PostCard.astro
  Temporal-Flow/src/components/PostCard.astro
  apps/megameal/src/components/PostCard.astro
  apps/travel/src/components/PostCard.astro
  apps/travel/src/config/config.ts
  packages/blog-core/src/components/widget/SideBar.astro
  packages/blog-core/src/components/widget/UpdatesRail.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/blog-core/src/types/index.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Update trail-updates.md
  apps/travel/src/content/updates/trail-updates.md
Due: deploy-travel

Add entry for March 11 and update March 10 details
  apps/travel/src/content/updates/trail-updates.md
Due: deploy-travel

Fix travel preview journal rail placement
  apps/travel/src/config/config.ts
  apps/travel/src/content.config.ts
  packages/blog-core/src/components/post/UpdatesFeedPage.astro
  packages/blog-core/src/components/widget/UpdatesRail.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Revert "Fix travel preview journal rail placement"
  apps/travel/src/config/config.ts
  apps/travel/src/content.config.ts
  packages/blog-core/src/components/post/UpdatesFeedPage.astro
  packages/blog-core/src/components/widget/UpdatesRail.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Fix travel preview home path handling
  apps/travel/src/config/config.ts
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refactor travel journal widget source
  apps/travel/src/content/updates/trail-updates.md
  packages/blog-core/src/components/widget/UpdatesRail.astro
  packages/blog-core/src/utils/journal-utils.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Add updates collection support to blog-pusher
  apps/blog-pusher/src/screens/AddPostScreen.js
  apps/blog-pusher/src/screens/HomeScreen.js
  apps/blog-pusher/src/screens/PostEditorScreen.js
  apps/blog-pusher/src/screens/PushScreen.js
  apps/blog-pusher/src/screens/RepoBrowserScreen.js
  apps/blog-pusher/src/screens/SettingsScreen.js
  apps/blog-pusher/src/utils/contentTargets.js
  apps/blog-pusher/src/utils/frontmatter.js
  apps/blog-pusher/src/utils/gitlab.js
  apps/blog-pusher/src/utils/storage.js
Due: none
