Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

deploy-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:temporal

deploy-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:dndiy

deploy-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:megameal

deploy-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:travel

fix(game): unblock deploy and update observatory
  apps/game/package.json
  apps/game/src/threlte/levels/HybridObservatory.svelte
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat: sync local correctness and editor updates
  apps/game/src/threlte/components/StarSprite.svelte
  apps/game/src/threlte/editor/EditorInspectorForm.svelte
  apps/game/src/threlte/editor/EditorNodeRenderContent.svelte
  apps/game/src/threlte/editor/EditorPropertiesShelf.svelte
  apps/game/src/threlte/editor/EditorSceneNode.svelte
  apps/game/src/threlte/editor/editorPrefabFactory.ts
  apps/game/src/threlte/editor/scenes/solitude.scene.json
  apps/megameal/src/config/banners/index.ts
  apps/megameal/src/layouts/store/StoreLayout.astro
  apps/megameal/src/pages/about/[...slug].astro
  apps/megameal/src/services/TimelineService.ts
  apps/megameal/src/stores/friendStore.ts
  docs/megameal-astro-baseline-triage.md
  docs/megameal-generated-asset-keep-list.md
  docs/megameal-generated-asset-sprawl-triage.md
Due: deploy-megameal

feat: add merged yggdrasil tree asset
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/megameal/public/generated/hunyuan3d/yggdrasil-world-tree/yggdrasil-world-tree-merged-2026-04-25T02-07-36-925Z.glb
  apps/megameal/public/generated/hunyuan3d/yggdrasil-world-tree/yggdrasil-world-tree-merged-2026-04-25T02-07-36-925Z.json
Due: deploy-megameal

feat: sync yggdrasil generated assets
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/megameal/public/generated/hunyuan3d/references/yggdrasil-world-tree-merged-reference-2026-04-25T02-21-26-339Z.png
  apps/megameal/public/generated/hunyuan3d/yggdrasil-bifrost-ribbon/yggdrasil-bifrost-ribbon-merged-2026-04-25T02-17-02-006Z.glb
  apps/megameal/public/generated/hunyuan3d/yggdrasil-bifrost-ribbon/yggdrasil-bifrost-ribbon-merged-2026-04-25T02-17-02-006Z.json
  apps/megameal/public/generated/hunyuan3d/yggdrasil-crown-ascent/yggdrasil-crown-ascent-merged-2026-04-25T02-12-58-163Z.glb
  apps/megameal/public/generated/hunyuan3d/yggdrasil-crown-ascent/yggdrasil-crown-ascent-merged-2026-04-25T02-12-58-163Z.json
  apps/megameal/public/generated/hunyuan3d/yggdrasil-hvergelmir-tunnel-root/yggdrasil-hvergelmir-tunnel-root-merged-2026-04-25T02-24-21-255Z.glb
  apps/megameal/public/generated/hunyuan3d/yggdrasil-hvergelmir-tunnel-root/yggdrasil-hvergelmir-tunnel-root-merged-2026-04-25T02-24-21-255Z.json
  apps/megameal/public/generated/hunyuan3d/yggdrasil-world-tree-merged-2026-04-25t02-07-36-925z/yggdrasil-world-tree-merged-2026-04-25t02-07-36-925z-generated-2026-04-25T02-24-40-321Z.glb
  apps/megameal/public/generated/hunyuan3d/yggdrasil-world-tree-merged-2026-04-25t02-07-36-925z/yggdrasil-world-tree-merged-2026-04-25t02-07-36-925z-generated-2026-04-25T02-24-40-321Z.json
  apps/megameal/public/generated/style-lab/workspace/yggdrasil-world-tree-merged-2026-04-25T02-19-29-754Z/reference/yggdrasil-world-tree-merged-reference-2026-04-25T02-21-26-339Z.png
  apps/megameal/public/generated/style-lab/workspace/yggdrasil-world-tree-merged-2026-04-25T02-19-29-754Z/source/yggdrasil-world-tree-merged.glb
  apps/megameal/public/generated/style-lab/workspace/yggdrasil-world-tree-merged-2026-04-25T02-19-29-754Z/style-request.json
Due: deploy-megameal

fix yggdrasil collision runtime
  apps/game/src/threlte/components/HeroProp.svelte
  apps/game/src/threlte/editor/EditorAssetPreview.svelte
  apps/game/src/threlte/editor/EditorAssetTrimeshCollider.svelte
  apps/game/src/threlte/editor/EditorCollisionOverlay.svelte
  apps/game/src/threlte/editor/EditorControlsOverlay.svelte
  apps/game/src/threlte/editor/EditorInspectorForm.svelte
  apps/game/src/threlte/editor/EditorMeshColliderHelper.svelte
  apps/game/src/threlte/editor/EditorPanel.svelte
  apps/game/src/threlte/editor/EditorPrimitiveTrimeshCollider.svelte
  apps/game/src/threlte/editor/EditorPrimitiveTrimeshHelper.svelte
  apps/game/src/threlte/editor/EditorPropertiesShelf.svelte
  apps/game/src/threlte/editor/EditorSceneNode.svelte
  apps/game/src/threlte/editor/defaultScenes.ts
  apps/game/src/threlte/editor/editorAiController.ts
  apps/game/src/threlte/editor/editorAssetController.ts
  apps/game/src/threlte/editor/editorCollisionDefaults.ts
  apps/game/src/threlte/editor/editorInspectorController.ts
  apps/game/src/threlte/editor/editorPrimitiveGeometry.ts
  apps/game/src/threlte/editor/editorTypes.ts
  apps/game/src/threlte/editor/scenes/solitude.scene.json
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/game/src/threlte/features/terrain/TerrainManager.ts
  apps/game/src/threlte/levels/SceneDocumentLevel.svelte
  apps/game/src/threlte/utils/gltfAssetCache.ts
  apps/megameal/public/generated/hunyuan3d/lower-root-arch/lower-root-arch-generated-2026-04-26T02-38-26-370Z.glb
  apps/megameal/public/generated/hunyuan3d/lower-root-arch/lower-root-arch-generated-2026-04-26T02-38-26-370Z.json
  apps/megameal/public/generated/hunyuan3d/yggdrasil-crown-ascent/yggdrasil-crown-ascent-merged-2026-04-25T02-12-58-163Z.json
  apps/megameal/public/generated/style-lab/sources/root-mound-2026-04-26T01-47-59-418Z/root-mound.glb
  apps/megameal/public/generated/style-lab/sources/root-mound-2026-04-26T01-47-59-418Z/root-mound.json
  apps/megameal/public/terrain/heightmaps/yggdrasil_config.json
  apps/megameal/public/terrain/heightmaps/yggdrasil_heightmap.png
  apps/megameal/public/terrain/yggdrasil.manifest.json
Due: deploy-megameal

Improve game systems and portal navigation
  apps/game/ENGINE_MIGRATION_CHECKLIST.md
  apps/game/package.json
  apps/game/scripts/audit-engine-architecture.mjs
  apps/game/src/config/timelineconfig.ts
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/GameCanvasStage.svelte
  apps/game/src/threlte/collision/CollisionBody.svelte
  apps/game/src/threlte/editor/EditorCollisionOverlay.svelte
  apps/game/src/threlte/editor/EditorSceneNode.svelte
  apps/game/src/threlte/editor/editorCollisionDefaults.ts
  apps/game/src/threlte/editor/scenes/miranda.scene.json
  apps/game/src/threlte/editor/scenes/sci-fi-room.scene.json
  apps/game/src/threlte/editor/scenes/solitude.scene.json
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/game/src/threlte/engine/collisionPolicy.ts
  apps/game/src/threlte/engine/index.ts
  apps/game/src/threlte/engine/legacySceneAdapter.ts
  apps/game/src/threlte/engine/types.ts
  apps/game/src/threlte/features/conversation/ConversationManager.ts
  apps/game/src/threlte/features/conversation/conversationStores.ts
  apps/game/src/threlte/features/terrain/components/TerrainCollider.svelte
  apps/game/src/threlte/levels/HybridObservatory.svelte
  apps/game/src/threlte/levels/SceneDocumentLevel.svelte
  apps/game/src/threlte/levels/levelRegistry.ts
  apps/game/src/threlte/stores/gameStateStore.ts
  apps/game/src/threlte/systems/StarMap.svelte
  apps/megameal/scripts/dev-app.mjs
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroParticle.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/TestPortalHeroSlide.astro
  apps/megameal/src/components/home/homeIntroScreens.ts
  apps/megameal/src/config/banners/standard.ts
  packages/blog-core/src/components/banner-stage/BannerStage.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Retire legacy game level components
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/editor/EditorPanel.svelte
  apps/game/src/threlte/editor/EditorSavePanel.svelte
  apps/game/src/threlte/editor/editorCollisionDefaults.ts
  apps/game/src/threlte/editor/editorLevelController.ts
  apps/game/src/threlte/engine/index.ts
  apps/game/src/threlte/engine/sceneAdapter.ts
  apps/game/src/threlte/levels/MirandaShip.svelte
  apps/game/src/threlte/levels/SciFiRoom.svelte
  apps/game/src/threlte/levels/console
  apps/game/src/threlte/levels/levelRegistry.ts
Due: none

Improve editor collision overlay reliability
  apps/game/src/threlte/editor/EditorCollisionOverlay.svelte
  apps/game/src/threlte/editor/EditorSceneNode.svelte
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
Due: none

Trim terrain collider debug code
  apps/game/scripts/audit-engine-architecture.mjs
  apps/game/src/threlte/features/terrain/Terrain.svelte
  apps/game/src/threlte/features/terrain/components/TerrainCollider.svelte
Due: none

Back up remaining local site edits
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/components/HeroProp.svelte
  apps/game/src/threlte/core/levelRuntimeReset.ts
  apps/game/src/threlte/editor/EditorAssetPreview.svelte
  apps/game/src/threlte/editor/EditorMeshColliderHelper.svelte
  apps/game/src/threlte/utils/gltfAssetCache.ts
  apps/travel/src/styles/main.css
  packages/blog-core/src/components/banner-stage/BannerStage.astro
  packages/blog-core/src/components/client/SidenavPanels.svelte
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/blog-core/src/styles/main.css
  tools/legacy-megameal-tools/app.cjs
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Back up final game runtime edits
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/editor/EditorMeshColliderHelper.svelte
Due: none

Fix scene asset render policies
  apps/game/scripts/boot-check-browser.mjs
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/core/GameWorld.svelte
  apps/game/src/threlte/editor/editorTypes.ts
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/game/src/threlte/engine/levelValidation.ts
  apps/game/src/threlte/engine/sceneAdapter.ts
  apps/game/src/threlte/engine/types.ts
  apps/game/src/threlte/levels/RuntimeActorBranch.svelte
  apps/game/src/threlte/levels/RuntimeActorNode.svelte
  apps/game/src/threlte/levels/RuntimeActorRenderContent.svelte
  apps/game/src/threlte/levels/SceneDocumentLevel.svelte
  apps/game/src/threlte/stores/runtimeRenderRegistry.ts
Due: none

Use Node 22 for Cloudflare deploys
  .github/workflows/deploy-sites.yml
Due: none

Improve mobile carousel touch drag
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
Due: deploy-megameal

Refine Megameal portal carousel
  apps/megameal/public/assets/3D/Hy3D_textured_00005_.glb
  apps/megameal/public/assets/3D/logo.blend
  apps/megameal/public/assets/3D/logo.blend1
  apps/megameal/public/generated/runtime-game-assets/manifest.json
  apps/megameal/public/generated/runtime-game-assets/scenes/miranda.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/observatory.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/sci-fi-room.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/solitude.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/yggdrasil.runtime-scene.json
  apps/megameal/public/runtime-world-partitions/solitude.partition.json
  apps/megameal/public/runtime-world-partitions/yggdrasil.partition.json
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroLogoReflections.svelte
  apps/megameal/src/components/home/HomeIntroParticle.svelte
  apps/megameal/src/components/home/HomeIntroRingGlow.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/homeIntroGlassTextures.ts
  apps/megameal/src/components/home/homeIntroScreens.ts
  apps/megameal/src/styles/features/extracted/home-intro-environment.css
Due: deploy-megameal

Refine Megameal portal scene
  apps/megameal/public/assets/3D/logo.blend
  apps/megameal/public/assets/3D/logo.blend1
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroParticle.svelte
  apps/megameal/src/components/home/HomeIntroRingGlow.svelte
  apps/megameal/src/components/home/homeIntroScreens.ts
Due: deploy-megameal

Polish Megameal portal intro
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroRingGlow.svelte
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/styles/features/extracted/home-intro-environment.css
  apps/megameal/src/styles/features/facts-widget/core.css
  apps/megameal/src/styles/features/facts-widget/overlay.css
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Optimize Megameal portal intro
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroRingGlow.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  packages/blog-core/src/components/banner-stage/BannerStage.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Clean up Megameal portal visuals
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/config/banner.config.ts
  apps/megameal/src/styles/features/extracted/home-intro-environment.css
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Optimize Megameal portal effects
  apps/megameal/ACTIVE_THEORY_EFFECTS_AUDIT.md
  apps/megameal/public/assets/3D/Hy3D_textured_00005_optimized.glb
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroParticle.svelte
  apps/megameal/src/components/home/HomeIntroParticleField.svelte
  apps/megameal/src/components/home/HomeIntroRingGlow.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/homeIntroGlassTextures.ts
Due: deploy-megameal

Document Megameal portal effects progress
  apps/megameal/ACTIVE_THEORY_EFFECTS_AUDIT.md
  apps/megameal/PORTAL_EFFECTS_PROGRESS.md
Due: deploy-megameal

Enhance Megameal portal effects
  apps/megameal/ACTIVE_THEORY_EFFECTS_AUDIT.md
  apps/megameal/PORTAL_EFFECTS_PROGRESS.md
  apps/megameal/package.json
  apps/megameal/public/assets/3D/Hy3D_textured_00005_optimized.glb
  apps/megameal/public/assets/banner/home-intro-stills/archive.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/archive.webp
  apps/megameal/public/assets/banner/home-intro-stills/community.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/community.webp
  apps/megameal/public/assets/banner/home-intro-stills/cookbook.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/cookbook.webp
  apps/megameal/public/assets/banner/home-intro-stills/game.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/game.webp
  apps/megameal/public/assets/banner/home-intro-stills/home-intro.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/home-intro.webp
  apps/megameal/public/assets/banner/home-intro-stills/store.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/store.webp
  apps/megameal/public/assets/banner/home-intro-stills/story-mode.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/story-mode.webp
  apps/megameal/public/assets/banner/home-intro-stills/timeline.ktx2
  apps/megameal/public/assets/banner/home-intro-stills/timeline.webp
  apps/megameal/public/assets/vendor/basis/basis_transcoder.js
  apps/megameal/public/assets/vendor/basis/basis_transcoder.wasm
  apps/megameal/scripts/generate-home-intro-stills.mjs
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroParticleField.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/components/home/homeIntroKtx2Loader.ts
  apps/megameal/src/components/home/homeIntroScreens.ts
  packages/blog-core/src/components/banner-stage/BannerStage.astro
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Enhance Megameal portal screens
  apps/megameal/public/assets/3D/screen.glb
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/homeIntroGlassTextures.ts
  apps/megameal/src/styles/features/extracted/home-intro-environment.css
Due: deploy-megameal

Update Megameal portal assets
  apps/megameal/public/assets/3D/Hy3D_textured_00005_.glb
  apps/megameal/public/assets/3D/Hy3D_textured_00005_optimized.glb
  apps/megameal/public/assets/3D/screen.glb
  apps/megameal/src/assets/site/posts/generic/0008.png
  apps/megameal/src/assets/site/posts/generic/avatar.png
  apps/megameal/src/assets/site/posts/generic/avatar2.png
  apps/megameal/src/assets/site/posts/generic/avatar3.png
  apps/megameal/src/assets/site/posts/generic/avatar4.png
  apps/megameal/src/assets/site/posts/generic/avatar5.png
  apps/megameal/src/assets/site/posts/generic/avatar6.png
  apps/megameal/src/assets/site/posts/generic/avatar7.png
  apps/megameal/src/assets/site/posts/generic/avatar8.png
  apps/megameal/src/assets/site/posts/generic/bamboo.png
  apps/megameal/src/assets/site/posts/generic/sunset.png
  apps/megameal/src/assets/site/posts/generic/tree.png
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/PortalHeroBackgroundSlide.astro
  apps/megameal/src/components/home/homeIntroLogoAssets.ts
  apps/megameal/src/components/home/homeIntroParticleClusters.ts
  apps/megameal/src/components/home/homeIntroSceneMath.ts
  apps/megameal/src/components/home/homeIntroScreens.ts
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/content.config.ts
  apps/megameal/src/content/posts/Explainer.mdx
  apps/megameal/src/content/posts/Mega-Meal-3.mdx
  apps/megameal/src/content/posts/Mega-Meal-Explained.mdx
  apps/megameal/src/content/posts/timelines/corporate-empire.mdx
  apps/megameal/src/content/videos/mega-meal-explained.mdx
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/pages/posts/[...slug].astro
  apps/megameal/src/pages/videos/[...slug].astro
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Back up Megameal reader banner
  apps/megameal/src/components/reader/ReaderBanner.astro
Due: deploy-megameal

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
