Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml

Add early SoCal foraging post assets and fix reactive author avatar sync
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/chia-sage-closeup.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/chia-sage-seeds.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/chia-sage.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/mesquite-habit.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/mesquite-pod-closeup.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/mesquite-pods.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/miners-lettuce-basal.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/miners-lettuce-flowers.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/miners-lettuce.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/prickly-pear-flower.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/prickly-pear-kew.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/prickly-pear.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/title.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/wild-mustard-closeup.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/wild-mustard-plant.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/wild-mustard.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/yucca-flower.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/yucca-seedpod.jpg
  apps/travel/public/posts/foraging-desert-edible-plants-campo-to-julian/yucca.jpg
  apps/travel/src/config/banner.config.ts
  apps/travel/src/content/posts/_foraging_campo_to_julian.md
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
  apps/travel/src/content/posts/foraging-desert-edible-plants-campo-to-julian.md
  packages/blog-core/src/components/client/MobileProfileOverlay.svelte
  packages/blog-core/src/components/client/Profile.svelte
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(security): patch SVGO CVE-2026-29074 (Billion Laughs DoS)
  package.json
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

chore: sync all local updates across travel and site configs
  .mailmap
  DNDIY.github.io/src/utils/friend-posts-utils.ts
  Temporal-Flow/src/utils/friend-posts-utils.ts
  apps/megameal/src/components/svelte/admin/config-tabs/GeneralConfigTab.svelte
  apps/megameal/src/config/config.ts
  apps/megameal/src/pages/posts/[...slug].astro
  apps/travel/public/posts/food_plan_week_1-2/kiddie.png
  apps/travel/public/posts/lower-body-injury-guide-1/merkin.webm
  apps/travel/public/posts/pct-gear/20260305_133510.jpg
  apps/travel/public/posts/pct-gear/pct-gear-pack.jpg
  apps/travel/public/posts/pct-gear/pct-trail-shoes.jpg
  apps/travel/public/posts/pctfootankleguide-1/20260305_115326.jpg
  apps/travel/public/posts/pctfootankleguide-1/boots.jpg
  apps/travel/public/posts/pctfootankleguide-1/pct-desert.jpg
  apps/travel/public/posts/pctfootankleguide-1/pct-trail-shoes.jpg
  apps/travel/public/posts/pctfootankleguide-1/wrapped-ankle.jpg
  apps/travel/src/config/config.ts
  apps/travel/src/config/site.ts
  apps/travel/src/content/posts/Food_plan_week_1-2.md
  apps/travel/src/content/posts/_foraging_campo_to_julian.md
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
  apps/travel/src/content/posts/lower-body-injury-guide-1.md
  apps/travel/src/content/posts/pct-gear.md
  apps/travel/src/content/posts/pct-pack-weight-ultralight-v2-1.md
  apps/travel/src/content/posts/pctfootankleguide-1.md
  apps/travel/src/pages/posts/[...slug].astro
  apps/travel/src/utils/friend-posts-utils.ts
  packages/blog-core/src/components/svelte/admin/config-tabs/GeneralConfigTab.svelte
  packages/blog-core/src/types/index.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(seo): repair social image fallbacks in shared layout
  packages/blog-core/src/layouts/Layout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

New blog post, addition of dowload as pdf support for offline use
  apps/megameal/package.json
  apps/megameal/src/pages/pdf/posts/[...slug].astro
  apps/megameal/src/pages/posts/[...slug].astro
  apps/travel/package.json
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/manzanita-berries-and-bark.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/manzanita-berries-close.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/manzanita-plant.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/miners-lettuce-1.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/miners-lettuce-2.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/miners-lettuce-flowers.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/oak-acorns.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/oak-leaf-bark.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/oak-tree.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/pinyon-cone-close.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/pinyon-cone.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/pinyon-tree.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/title.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/wax-currant-berries.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/wax-currant-close.jpg
  apps/travel/public/posts/foraging-mountains-julian-to-san-jacinto/wax-currant-fruit.jpg
  apps/travel/src/content/posts/_template.md
  apps/travel/src/content/posts/foraging-desert-edible-plants-campo-to-julian.md
  apps/travel/src/content/posts/foraging-mountains-julian-to-san-jacinto.md
  apps/travel/src/content/posts/pctfootankleguide-1.md
  apps/travel/src/pages/pdf/posts/[...slug].astro
  apps/travel/src/pages/posts/[...slug].astro
  packages/blog-core/src/schemas/content.ts
  packages/blog-core/src/types/index.ts
  scripts/generate-post-pdfs.mjs
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat: improve post downloads and expand injury guide medical content
  .gitignore
  DNDIY.github.io/package.json
  DNDIY.github.io/src/pages/pdf/posts/[...slug].astro
  DNDIY.github.io/src/pages/posts/[...slug].astro
  Temporal-Flow/package.json
  Temporal-Flow/src/pages/pdf/posts/[...slug].astro
  Temporal-Flow/src/pages/posts/[...slug].astro
  apps/megameal/src/pages/posts/[...slug].astro
  apps/travel/public/posts/lower-body-injury-guide-1/achilles-tendon-rupture.svg
  apps/travel/public/posts/lower-body-injury-guide-1/ankle-anatomy.svg
  apps/travel/public/posts/lower-body-injury-guide-1/ankle-sprain-smart-servier.jpg
  apps/travel/public/posts/lower-body-injury-guide-1/anterior-hip-muscles.png
  apps/travel/public/posts/lower-body-injury-guide-1/gluteal-hip-muscles.jpg
  apps/travel/public/posts/lower-body-injury-guide-1/hip-flexor-strain.svg
  apps/travel/public/posts/lower-body-injury-guide-1/knee-anatomy-front.png
  apps/travel/public/posts/lower-body-injury-guide-1/knee-anatomy-side.png
  apps/travel/public/posts/lower-body-injury-guide-1/lower-leg-muscles.svg
  apps/travel/public/posts/lower-body-injury-guide-1/meniscus-tear-types.svg
  apps/travel/public/posts/lower-body-injury-guide-1/tibia-fibula-fracture-xray.jpg
  apps/travel/public/posts/lower-body-injury-guide-1/tibia-frontal-view.png
  apps/travel/public/posts/lower-body-injury-guide-1/tibia-stress-fracture-xray.jpg
  apps/travel/src/content/posts/lower-body-injury-guide-1.md
  apps/travel/src/content/team/greg-aster.md
  apps/travel/src/pages/posts/[...slug].astro
  scripts/generate-post-pdfs.mjs
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix: restore sitemap generation across sites and sync travel content updates
  DNDIY.github.io/astro.config.mjs
  Temporal-Flow/astro.config.mjs
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
  apps/travel/src/content/posts/foraging-desert-edible-plants-campo-to-julian.md
  apps/travel/src/content/posts/foraging-mountains-julian-to-san-jacinto.md
  apps/travel/src/content/posts/lower-body-injury-guide-1.md
Due: deploy-temporal, deploy-dndiy, deploy-travel

feat: add shared right-rail updates feed
  DNDIY.github.io/src/components/widget/RightRailContent.astro
  DNDIY.github.io/src/content.config.ts
  DNDIY.github.io/src/content/updates/.gitkeep
  Temporal-Flow/src/components/widget/RightRailContent.astro
  Temporal-Flow/src/content.config.ts
  Temporal-Flow/src/content/updates/.gitkeep
  apps/megameal/src/components/widget/RightRailContent.astro
  apps/megameal/src/content.config.ts
  apps/megameal/src/content/updates/.gitkeep
  apps/travel/astro.config.mjs
  apps/travel/src/components/widget/RightRailContent.astro
  apps/travel/src/config/config.ts
  apps/travel/src/content.config.ts
  apps/travel/src/content/updates/trail-updates.md
  apps/travel/src/pages/journal.astro
  packages/blog-core/src/components/client/ScrollEffects.svelte
  packages/blog-core/src/components/post/UpdatesFeedPage.astro
  packages/blog-core/src/components/widget/UpdatesRail.astro
  packages/blog-core/src/components/widget/WidgetLayout.astro
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/blog-core/src/schemas/content.ts
  packages/blog-core/src/types/index.ts
  packages/blog-core/src/utils/index.ts
  packages/blog-core/src/utils/journal-utils.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix: resolve Svelte 5 hydration mismatch in federation friendStore
  .gitignore
  DNDIY.github.io/src/stores/friendStore.ts
  Temporal-Flow/src/stores/friendStore.ts
  apps/megameal/src/stores/friendStore.ts
  apps/travel/src/stores/friendStore.ts
  packages/blog-core/src/components/svelte/friends/FriendManager.svelte
  scripts/sync-to-temporal-flow.sh
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(sync): exclude personal asset dirs and use Temporal-Flow as template source
  scripts/sync-to-temporal-flow.sh
Due: none

fix: unify banner behavior across sites
  DNDIY.github.io/astro.config.mjs
  DNDIY.github.io/src/config/banner.config.ts
  DNDIY.github.io/src/pages/pdf/posts/[...slug].astro
  DNDIY.github.io/src/scripts/dynamic-banner-manager.js
  Temporal-Flow/astro.config.mjs
  Temporal-Flow/src/config/banner.config.ts
  Temporal-Flow/src/pages/pdf/posts/[...slug].astro
  Temporal-Flow/src/scripts/dynamic-banner-manager.js
  apps/megameal/astro.config.mjs
  apps/megameal/src/config/banner.config.ts
  apps/megameal/src/pages/pdf/posts/[...slug].astro
  apps/travel/astro.config.mjs
  apps/travel/src/components/ArchivePanel.astro
  apps/travel/src/components/PostCard.astro
  apps/travel/src/config/banner.config.ts
  apps/travel/src/pages/pdf/posts/[...slug].astro
  apps/travel/src/pages/posts/[...slug].astro
  packages/blog-core/src/components/PostPage.astro
  packages/blog-core/src/components/client/ScrollEffects.svelte
  packages/blog-core/src/components/widget/TOC.astro
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
  scripts/sync-to-temporal-flow.sh
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat: add right-rail widgets to temporal flow and megameal
  Temporal-Flow/src/components/widget/RightRailContent.astro
  Temporal-Flow/src/config/config.ts
  Temporal-Flow/src/content/updates/site-updates.md
  Temporal-Flow/src/pages/updates.astro
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/components/widget/InfoCard.astro
  apps/megameal/src/components/widget/RightRailContent.astro
  apps/megameal/src/components/widget/SideBar.astro
  apps/megameal/src/config/config.ts
  packages/blog-core/src/components/widget/UpdatesRail.astro
  packages/blog-core/src/schemas/content.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix: lock megameal to dark mode
  apps/megameal/src/components/Navbar.astro
  apps/megameal/src/components/store/StoreNavbar.astro
  apps/megameal/src/config/config.ts
  packages/blog-core/src/components/Navbar.astro
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/types/index.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

add: death-by-1000-cuts-v2
  apps/travel/src/content/posts/death-by-1000-cuts-v2.md
Due: deploy-travel

remove failing travel post draft
  apps/travel/src/content/posts/death-by-1000-cuts-v2.md
Due: deploy-travel

update: death-by-1000-cuts-v1
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
Due: deploy-travel

fix: unquote travel post published date
  apps/travel/src/content/posts/death-by-1000-cuts-v1.md
Due: deploy-travel

chore: gitignore worktrees and blog-pusher-sync; refactor temporal-flow export script
  .gitignore
  scripts/sync-to-temporal-flow.sh
Due: none

add: boudin-noir-restaurant-review
  DNDIY.github.io/src/content/posts/boudin-noir-restaurant-review.mdx
Due: deploy-dndiy
