Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

deploy-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:temporal

deploy-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:dndiy

deploy-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:megameal

deploy-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:travel

refactor: update deployment workflows for Cloudflare Pages integration
  .github/workflows/deploy-sites.yml
  .gitlab-ci.yml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

add: pctfootankleguide-1
  apps/travel/src/content/posts/pctfootankleguide-1.md
Due: deploy-travel

manually add blog post to circumnavigate issues
  apps/travel/src/content/posts/pctfootankleguide-1.md
Due: deploy-travel

docs(travel): expand post template with full schema and AI agent guide
  apps/travel/src/content/posts/_template.md
Due: deploy-travel

docs(travel): complete template with all postsSchema fields
  apps/travel/src/content/posts/_template.md
Due: deploy-travel

remove placeholder blog posts
  apps/travel/src/content/posts/0001-kickoff.md
  apps/travel/src/content/posts/0002-first-resupply.md
Due: deploy-travel

fix(travel): update PCT readiness check publish date to 2026-02-24
  apps/travel/src/content/posts/pct-gear.md
Due: deploy-travel

add: lower-body-injury-guide-1
  apps/travel/src/content/posts/lower-body-injury-guide-1.md
Due: deploy-travel

test - add photos from github codespaces
  apps/travel/public/posts/travel/pct-desert.jpg
  apps/travel/public/posts/travel/pct-food-trail-mix.jpg
  apps/travel/public/posts/travel/pct-gear-pack.jpg
  apps/travel/public/posts/travel/pct-gear-stove.jpg
  apps/travel/public/posts/travel/pct-trail-shoes.jpg
  apps/travel/src/content/posts/Food_plan_week_1-2.md
  apps/travel/src/content/posts/pct-gear.md
  apps/travel/src/content/posts/pctfootankleguide-1.md
  package-lock.json
Due: deploy-travel

fix(travel): resolve post images under github pages base path
  apps/travel/src/content/posts/Food_plan_week_1-2.md
  apps/travel/src/content/posts/pct-gear.md
  apps/travel/src/content/posts/pctfootankleguide-1.md
  packages/blog-core/src/components/misc/ImageWrapper.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(travel): resolve build errors, fix image paths, update author profile
  apps/travel/public/avatar/avatar1.jpg
  apps/travel/public/posts/travel/pct-knee-pain.jpg
  apps/travel/public/posts/travel/pct-shin-splints.png
  apps/travel/public/posts/travel/pct-trail-overview.jpg
  apps/travel/src/config/about.config.ts
  apps/travel/src/config/avatar.config.ts
  apps/travel/src/config/banner.config.ts
  apps/travel/src/config/community.config.ts
  apps/travel/src/config/config.ts
  apps/travel/src/config/site.ts
  apps/travel/src/content/friends/.gitkeep
  apps/travel/src/content/posts/Food_plan_week_1-2.md
  apps/travel/src/content/posts/lower-body-injury-guide-1.md
  apps/travel/src/content/posts/pct-gear.md
  apps/travel/src/content/posts/pctfootankleguide-1.md
  apps/travel/src/content/spec/about.md
  apps/travel/src/content/team/greg-aster.md
  apps/travel/src/pages/about.astro
Due: deploy-travel

fix(travel): rewrite markdown image paths for GitHub Pages base path
  apps/travel/astro.config.mjs
  apps/travel/src/plugins/remark-rebase-images.mjs
Due: deploy-travel

archived files and updated avatar
  Archive/CONSOLIDATION_PROGRESS.md
  Archive/CONSOLIDATION_SESSION_SUMMARY.md
  Archive/MONOREPO_OPERATING_MODEL.md
  Archive/NEXT_STEPS.md
  Archive/PHASE0_COMPARISON.md
  CONSOLIDATION_AUDIT.md
  CONSOLIDATION_PLAN.md
  apps/travel/public/avatar/avatar1.jpg
Due: deploy-travel

docs(travel): expand image upload guide in post template
  apps/travel/src/content/posts/_template.md
Due: deploy-travel

Normalize travel post media paths
  apps/travel/astro.config.mjs
  apps/travel/public/posts/food_plan_week_1-2/pct-food-trail-mix.jpg
  apps/travel/public/posts/lower-body-injury-guide-1/pct-knee-pain.jpg
  apps/travel/public/posts/lower-body-injury-guide-1/pct-shin-splints.png
  apps/travel/public/posts/lower-body-injury-guide-1/pct-trail-overview.jpg
  apps/travel/public/posts/pct-gear/pct-gear-pack.jpg
  apps/travel/public/posts/pct-gear/pct-gear-stove.jpg
  apps/travel/public/posts/pct-gear/pct-trail-shoes.jpg
  apps/travel/public/posts/pctfootankleguide-1/pct-desert.jpg
  apps/travel/public/posts/pctfootankleguide-1/pct-trail-shoes.jpg
  apps/travel/src/content/posts/Food_plan_week_1-2.md
  apps/travel/src/content/posts/lower-body-injury-guide-1.md
  apps/travel/src/content/posts/pct-gear.md
  apps/travel/src/content/posts/pctfootankleguide-1.md
  packages/blog-core/src/components/client/Profile.svelte
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(ci): diff main pushes against previous main commit
  .github/workflows/deploy-sites.yml
Due: none

fix(ci): retry transient Cloudflare Pages API failures
  package.json
  scripts/deploy-pages-with-retry.sh
Due: none

feat(travel): replace generic banners with PCT landscape photography
  apps/travel/src/assets/banner/pct-banner-01-desert.jpg
  apps/travel/src/assets/banner/pct-banner-02-san-jacinto.jpg
  apps/travel/src/assets/banner/pct-banner-03-sierra-tuolumne.jpg
  apps/travel/src/assets/banner/pct-banner-04-eastern-sierra.jpg
  apps/travel/src/assets/banner/pct-banner-05-mount-shasta.jpg
  apps/travel/src/assets/banner/pct-banner-06-north-cascades.jpg
  apps/travel/src/assets/banner/pct-banner-07-alpine-meadow.jpg
  apps/travel/src/assets/banner/pct-banner-08-lake-reflection.jpg
  apps/travel/src/assets/banner/pct-banner-09-crater-lake.jpg
  apps/travel/src/assets/banner/pct-banner-10-forest-trail.jpg
  apps/travel/src/config/banner.config.ts
Due: deploy-travel

feat(banner): add randomStart config option, enable per-site
  DNDIY.github.io/src/config/banners/standard.ts
  DNDIY.github.io/src/config/banners/types.ts
  Temporal-Flow/src/config/banners/standard.ts
  Temporal-Flow/src/config/banners/types.ts
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/config/banners/types.ts
  apps/travel/src/config/banner.config.ts
  packages/blog-core/src/utils/bannerAnimation.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

refactor: tighten mobile post cards and banner spacing
  DNDIY.github.io/src/components/PostCard.astro
  DNDIY.github.io/src/config/banner.config.ts
  DNDIY.github.io/src/config/postcard.config.ts
  Temporal-Flow/src/components/PostCard.astro
  Temporal-Flow/src/config/banner.config.ts
  Temporal-Flow/src/config/postcard.config.ts
  apps/megameal/src/config/banner.config.ts
  apps/megameal/src/config/postcard.config.ts
  apps/travel/src/components/PostCard.astro
  apps/travel/src/config/banner.config.ts
  apps/travel/src/config/postcard.config.ts
  packages/blog-core/src/components/PostPage.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

removed generic thumnails and replace
  apps/travel/public/posts/lower-body-injury-guide-1/IMAG0129.jpg
  apps/travel/public/posts/pctfootankleguide-1/boots.jpg
  apps/travel/src/content/posts/lower-body-injury-guide-1.md
  apps/travel/src/content/posts/pctfootankleguide-1.md
Due: deploy-travel

add: pct-pack-weight-ultralight-v2-1
  apps/travel/src/content/posts/pct-pack-weight-ultralight-v2-1.md
Due: deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
