Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: preview-temporal, deploy-temporal, preview-dndiy, deploy-dndiy, preview-megameal, deploy-megameal, preview-travel, deploy-travel

preview-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="$CI_COMMIT_REF_SLUG" pnpm deploy:temporal

deploy-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:temporal

preview-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="$CI_COMMIT_REF_SLUG" pnpm deploy:dndiy

deploy-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:dndiy

preview-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="$CI_COMMIT_REF_SLUG" pnpm deploy:megameal

deploy-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:megameal

preview-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="$CI_COMMIT_REF_SLUG" pnpm deploy:travel

deploy-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:travel

ci: add GitHub Actions workflow to mirror main branch to GitLab
  .github/workflows/mirror-to-gitlab.yml
Due: none

fix: remove force push from GitLab mirror (protected branch)
  .github/workflows/mirror-to-gitlab.yml
Due: none

fix: re-add --force to GitLab mirror (force push now allowed on protected branch)
  .github/workflows/mirror-to-gitlab.yml
Due: none

add: pct-gear
  apps/travel/src/content/posts/pct-gear.md
Due: preview-travel, deploy-travel

Improve PCT gear post copy and add temporary photo layout
  apps/travel/src/content/posts/pct-gear.md
Due: preview-travel, deploy-travel

fix: restore CI lockfile and harden game/blog routing
  MEGAMEAL/public/_redirects
  MEGAMEAL/src/threlte/ui/TimelineCard.svelte
  pnpm-lock.yaml
Due: preview-temporal, deploy-temporal, preview-dndiy, deploy-dndiy, preview-megameal, deploy-megameal, preview-travel, deploy-travel

ci: trigger deploys on lockfile changes and megameal legacy path
  .gitlab-ci.yml
Due: preview-temporal, deploy-temporal, preview-dndiy, deploy-dndiy, preview-megameal, deploy-megameal, preview-travel, deploy-travel

chore: add mailmap entry for co-author attribution
  .mailmap
Due: none

ci: make GitLab prod-only and add GitHub Pages dev preview
  .github/workflows/DEPLOYMENT_SETUP.md
  .github/workflows/dev-pages-preview.yml
  .gitlab-ci.yml
  DNDIY.github.io/astro.config.mjs
  Temporal-Flow/astro.config.mjs
Due: preview-temporal, deploy-temporal, preview-dndiy, deploy-dndiy, preview-megameal, deploy-megameal, preview-travel, deploy-travel

Add files via upload
  apps/travel/src/content/posts/Food_plan_week_1-2.md
Due: preview-travel, deploy-travel

address dev site push bug, address 1 site loading at a time
  .github/workflows/dev-pages-preview.yml
  .github/workflows/mirror-to-gitlab.yml
Due: none

make some images on site url agnostic
  apps/megameal/src/config/banners/standard.ts
Due: none

refactor: update deployment workflows for Cloudflare Pages integration
  .github/workflows/deploy-sites.yml
  .gitlab-ci.yml
Due: preview-temporal, deploy-temporal, preview-dndiy, deploy-dndiy, preview-megameal, deploy-megameal, preview-travel, deploy-travel

Path conditions:
  preview-temporal: any of: Temporal-Flow/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
  preview-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
  preview-megameal: any of: MEGAMEAL/**/*, .gitlab-ci.yml
  deploy-megameal: any of: MEGAMEAL/**/*, .gitlab-ci.yml
  preview-travel: any of: apps/travel/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
