Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml

Revise Chapter 2 content for clarity and coherence, enhancing descriptions and correcting grammatical errors
  apps/megameal/src/content/reader/first-contact-manual/chapter-2.mdx
Due: deploy-megameal

Enhance renderable asset picker model with effective rendering logic and staging capabilities
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/docs/LEVEL_EDITOR_AAA_RESEARCH_AND_GAP_ANALYSIS.md
  apps/game.megameal/docs/LEVEL_EDITOR_SAVE_PUBLISH_COMPLETION_PLAN.md
  apps/game.megameal/docs/LEVEL_EDITOR_WORKBENCH_IMPLEMENTATION_PROGRESS.md
  apps/game.megameal/docs/LEVEL_EDITOR_WORKSPACE_ALIGNMENT.md
  apps/game.megameal/scripts/test-level-editor-aaa-plan-contract.ts
  apps/game.megameal/scripts/test-level-editor-save-contract.ts
  apps/game.megameal/scripts/test-level-editor-selected-object-renderable-picker-contract.ts
  apps/game.megameal/scripts/test-level-editor-workbench-model-contract.ts
  apps/game.megameal/src/app/editor/LevelEditorBottomDock.svelte
  apps/game.megameal/src/app/editor/LevelEditorRenderableAssetPicker.svelte
  apps/game.megameal/src/app/editor/LevelEditorWorkspace.svelte
  apps/game.megameal/src/app/editor/levelEditorRenderableAssetPickerModel.ts
  apps/game.megameal/src/app/editor/levelEditorWorkbenchModel.ts
  apps/game.megameal/src/game/editor/authoring/ownerRegistry.ts
  apps/game.megameal/src/game/editor/authoring/publishedLevelTransforms.ts
  apps/game.megameal/src/game/levels/contentPackages.ts
  apps/game.megameal/src/game/levels/index.ts
  apps/game.megameal/src/styles/editor.css
  apps/megameal/src/config/config.ts
  apps/megameal/src/content/reader/first-contact-manual/chapter-2.mdx
Due: deploy-megameal

Update Megameal runtime and level editing snapshot
  apps/game.megameal/scripts/editor-dev-api.mjs
  apps/game.megameal/scripts/test-charged-action-contract.ts
  apps/game.megameal/scripts/test-npc-contract.ts
  apps/game.megameal/scripts/test-runtime-scene-contract.ts
  apps/game.megameal/src/engine/adapters/three/index.ts
  apps/game.megameal/src/engine/data/schemas/index.ts
  apps/game.megameal/src/engine/modules/rendering/index.ts
  apps/game.megameal/src/game/runtime/index.ts
  apps/game.megameal/src/game/systems/camera.ts
  apps/game.megameal/src/levels/global/npcs/firefly/archetype.json
  apps/game.megameal/src/levels/levelPackageData.ts
  apps/game.megameal/src/levels/observatory/npcs/fireflies.json
  apps/game.megameal/src/levels/observatory/skybox.json
Due: none

Tune firefly archetype glow
  apps/game.megameal/src/levels/global/npcs/firefly/archetype.json
Due: none

Publish Megameal game performance updates
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/biome.json
  apps/game.megameal/docs/STATIC_ENVIRONMENT_COLLISION_PROGRESS.md
  apps/game.megameal/public/assets/game/observatory/top-orthographic0001.png
  apps/game.megameal/public/assets/game/observatory/top-orthographic0001.webp
  apps/game.megameal/scripts/cook-static-environment-collision.ts
  apps/game.megameal/scripts/editor-dev-api.mjs
  apps/game.megameal/scripts/test-level-editor-workspace-contract.ts
  apps/game.megameal/scripts/test-npc-contract.ts
  apps/game.megameal/scripts/test-static-environment-collision-contract.ts
  apps/game.megameal/src/app/gameDevBridge.ts
  apps/game.megameal/src/editor/MasterControlMap.svelte
  apps/game.megameal/src/editor/level/LevelEditorWorkspace.svelte
  apps/game.megameal/src/editor/masterControlGraph.ts
  apps/game.megameal/src/game/index.ts
  apps/game.megameal/src/game/performance/README.md
  apps/game.megameal/src/game/performance/collision/README.md
  apps/game.megameal/src/game/performance/culling/README.md
  apps/game.megameal/src/game/performance/diagnostics/index.ts
  apps/game.megameal/src/game/performance/index.ts
  apps/game.megameal/src/game/performance/lod/README.md
  apps/game.megameal/src/game/performance/streaming/README.md
  apps/game.megameal/src/game/performance/types.ts
  apps/game.megameal/src/game/runtime/index.ts
  apps/game.megameal/src/levels/global/collisionSettings.ts
  apps/game.megameal/src/levels/global/performance.json
  apps/game.megameal/src/levels/levelPackageData.ts
  apps/game.megameal/src/levels/miranda-deck/package.ts
  apps/game.megameal/src/levels/miranda-deck/performance.json
  apps/game.megameal/src/levels/observatory/collision/generated.json
  apps/game.megameal/src/levels/observatory/npcs/fireflies.json
  apps/game.megameal/src/levels/observatory/package.ts
  apps/game.megameal/src/levels/observatory/performance.json
  apps/game.megameal/src/levels/portal-arena/package.ts
  apps/game.megameal/src/levels/portal-arena/performance.json
  apps/game.megameal/src/levels/prototype-arena/package.ts
  apps/game.megameal/src/levels/prototype-arena/performance.json
  apps/game.megameal/src/levels/staticEnvironmentCollision.ts
Due: none

Add performance config editor controls
  apps/game.megameal/src/editor/MasterControlMap.svelte
Due: none

Fix game deploy CI inputs
  apps/game.megameal/package.json
  apps/game.megameal/src/levels/observatory/collision/generated.json
Due: none

Add Megameal performance contracts
  apps/game.megameal/ARCHITECTURE.md
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/GAME_ENGINE_DESIGN_DOCUMENT.md
  apps/game.megameal/package.json
  apps/game.megameal/scripts/test-performance-config-contract.ts
  apps/game.megameal/scripts/test-performance-diagnostics-contract.ts
  apps/game.megameal/scripts/test-performance-lod-contract.ts
  apps/game.megameal/src/editor/MasterControlMap.svelte
  apps/game.megameal/src/editor/masterControlGraph.ts
  apps/game.megameal/src/game/performance/diagnostics/index.ts
  apps/game.megameal/src/game/performance/lod/README.md
  apps/game.megameal/src/game/performance/lod/index.ts
  apps/game.megameal/src/game/performance/streaming/index.ts
  apps/game.megameal/src/game/performance/types.ts
  apps/game.megameal/src/levels/levelPackageData.ts
  apps/game.megameal/src/levels/observatory/collision/generated.json
  apps/game.megameal/src/levels/observatory/collision/source.json
Due: none

Add performance culling contracts
  apps/game.megameal/scripts/test-performance-config-contract.ts
  apps/game.megameal/scripts/test-performance-culling-contract.ts
  apps/game.megameal/src/game/performance/culling/README.md
  apps/game.megameal/src/game/performance/culling/index.ts
  apps/game.megameal/src/game/performance/streaming/README.md
Due: none

Add performance collision contracts
  apps/game.megameal/scripts/test-performance-collision-contract.ts
  apps/game.megameal/scripts/test-performance-culling-contract.ts
  apps/game.megameal/scripts/test-performance-lod-contract.ts
  apps/game.megameal/scripts/test-performance-streaming-contract.ts
  apps/game.megameal/src/game/performance/collision/README.md
  apps/game.megameal/src/game/performance/collision/budget.ts
  apps/game.megameal/src/game/performance/collision/config.ts
  apps/game.megameal/src/game/performance/collision/index.ts
  apps/game.megameal/src/game/performance/collision/spatial.ts
  apps/game.megameal/src/game/performance/collision/summary.ts
  apps/game.megameal/src/game/performance/collision/types.ts
  apps/game.megameal/src/game/performance/culling/index.ts
  apps/game.megameal/src/game/performance/lod/index.ts
  apps/game.megameal/src/game/performance/streaming/index.ts
  apps/game.megameal/src/game/performance/types.ts
Due: none

Refine performance collision contract test
  apps/game.megameal/scripts/test-performance-collision-contract.ts
Due: none

Refine performance collision helpers
  apps/game.megameal/scripts/test-performance-collision-contract.ts
  apps/game.megameal/src/game/performance/collision/budget.ts
  apps/game.megameal/src/game/performance/collision/config.ts
  apps/game.megameal/src/game/performance/collision/spatial.ts
Due: none

Stabilize static collision freshness check
  apps/game.megameal/scripts/cook-static-environment-collision.ts
Due: none

Publish NPC placement and Observatory asset updates
  apps/game.megameal/ENGINE_CONTRACT_REGISTER.md
  apps/game.megameal/docs/CLEANUP_REMINDER.md
  apps/game.megameal/docs/Done/GAME_ENGINE_MIGRATION_PLAN.md
  apps/game.megameal/docs/Done/MIGRATION_ACTIVE_WORK_PLAN_2026-06-06.md
  apps/game.megameal/docs/Done/MIGRATION_AGENT_ALIGNMENT_2026-06-06.md
  apps/game.megameal/docs/Done/MIGRATION_HANDOFF_2026-06-06.md
  apps/game.megameal/docs/Done/SCENE_ENVIRONMENT_FEATURE_PLAN.md
  apps/game.megameal/docs/NPC_ORGANIZATION_AND_PLACEMENT_PLAN.md
  apps/game.megameal/public/assets/game/observatory/observatory-environment.glb
  apps/game.megameal/public/assets/game/observatory/top-orthographic0001.webp
  apps/game.megameal/scripts/editor-dev-api.mjs
  apps/game.megameal/scripts/test-level-editor-workspace-contract.ts
  apps/game.megameal/scripts/test-npc-contract.ts
  apps/game.megameal/src/editor/level/LevelEditorWorkspace.svelte
  apps/game.megameal/src/editor/level/NpcEditorPanel.svelte
  apps/game.megameal/src/editor/level/npcEditorModel.ts
  apps/game.megameal/src/levels/levelPackageData.ts
  apps/game.megameal/src/levels/npcPlacement.ts
  apps/game.megameal/src/levels/observatory/collision/generated.json
  apps/game.megameal/src/levels/observatory/npcs/fireflies.json
  apps/game.megameal/src/levels/staticEnvironmentCollision.ts
Due: none

Fix Ainekio site lockfile
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Add docs editor bridge posts
  apps/ainekio/package.json
  apps/ainekio/src/content/posts/First-Steps-Work-In-Progress.mdx
  apps/ainekio/src/content/updates/site-updates.md
  apps/docs-editor-bridge/package.json
  apps/docs-editor-bridge/src/DocsEditorBridge.svelte
  apps/docs-editor-bridge/src/google-docs.ts
  apps/docs-editor-bridge/src/index.ts
  apps/docs-editor-bridge/test/google-docs.test.mjs
  apps/docs-editor-bridge/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Update Ainekio project notes
  apps/ainekio/readme.md
  apps/ainekio/src/content/updates/site-updates.md
Due: none

Normalize Claude commit attribution
  .mailmap
Due: none

Publish Ainekio bridge notes and dev bridge relay
  apps/ainekio/src/content/posts/First-Steps-Work-In-Progress (local draft).mdx
  apps/ainekio/src/content/updates/site-updates.md
  apps/game.megameal/scripts/editor-dev-api.mjs
  apps/game.megameal/src/app/GameClient.svelte
  apps/game.megameal/src/app/dev-bridge/gameDevBridge.ts
  apps/game.megameal/src/app/dev-bridge/gameDevBridgeRuntime.ts
  apps/game.megameal/src/app/dev-bridge/server/game-dev-bridge-relay.mjs
  apps/game.megameal/src/app/levelPackageDiscovery.ts
  apps/game.megameal/src/editor/MasterControlMap.svelte
  apps/game.megameal/src/editor/level/LevelEditorWorkspace.svelte
  apps/game.megameal/src/editor/masterControlGraph.ts
Due: none

Update Ainekio motion systems draft
  apps/ainekio/src/content/posts/Motion-Systems (local draft).mdx
Due: none

Publish Ainekio docs and player avatars
  apps/ainekio/public/posts/ainekio/city-battle-banner.webp
  apps/ainekio/public/posts/ainekio/kaiju-battle-banner.webp
  apps/ainekio/public/posts/ainekio/kaiju-ride-square.webp
  apps/ainekio/public/posts/ainekio/laundry-helper-banner.webp
  apps/ainekio/public/posts/ainekio/laundry-helper-square.webp
  apps/ainekio/public/posts/ainekio/rooftop-date-banner.webp
  apps/ainekio/public/posts/ainekio/rooftop-date-square.webp
  apps/ainekio/public/posts/ainekio/wizard-lab-banner.webp
  apps/ainekio/public/posts/ainekio/wizard-square.webp
  apps/ainekio/src/content/posts/Broad-Strokes (local draft).mdx
  apps/ainekio/src/content/posts/Broad-Strokes.mdx
  apps/ainekio/src/content/posts/First-Steps-Work-In-Progress (local draft).mdx
  apps/ainekio/src/content/posts/First-Steps-Work-In-Progress.mdx
  apps/ainekio/src/content/posts/Motion-Systems.mdx
  apps/ainekio/src/content/posts/Project-Overview (local draft).mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/game.megameal/docs/PLAYER_AVATAR_SYSTEM_PROGRESS.md
  apps/game.megameal/scripts/test-input-contract.ts
  apps/game.megameal/scripts/test-multiplayer-contract.ts
  apps/game.megameal/scripts/test-player-package-contract.ts
  apps/game.megameal/src/app/dev-bridge/gameDevBridgeRuntime.ts
  apps/game.megameal/src/app/levelPackageDiscovery.ts
  apps/game.megameal/src/app/mountGameClient.ts
  apps/game.megameal/src/engine/adapters/browser/index.ts
  apps/game.megameal/src/engine/modules/input/index.ts
  apps/game.megameal/src/game/runtime/index.ts
  apps/game.megameal/src/levels/global/index.ts
  apps/game.megameal/src/levels/player/assets.ts
  apps/game.megameal/src/levels/player/avatars/data.json
  apps/game.megameal/src/levels/player/avatars/index.ts
  apps/game.megameal/src/levels/player/avatars/types.ts
  apps/game.megameal/src/levels/player/constants.ts
  apps/game.megameal/src/levels/player/index.ts
Due: none

Fix Ainekio deploy MDX draft import
  apps/ainekio/src/content/posts/Broad-Strokes.mdx
  apps/ainekio/src/content/posts/First-Steps-Work-In-Progress (local draft).mdx
Due: none

Improve Broad Strokes docs rendering
  apps/ainekio/src/content/posts/Broad-Strokes.mdx
Due: none

Add Ainekio discussion post
  apps/ainekio/src/content/posts/Discussion.mdx
Due: none

Remove Megameal Sesame avatar path
  apps/game.megameal/package.json
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/chassis.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/left_front_foot.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/left_front_leg.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/left_rear_foot.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/left_rear_leg.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/right_front_foot.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/right_front_leg.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/right_rear_foot.glb
  apps/game.megameal/public/assets/player/avatars/ainekio-sesame/right_rear_leg.glb
  apps/game.megameal/scripts/prepare-ainekio-sesame-assets.mjs
  apps/game.megameal/scripts/test-dev-bridge-motion-contract.ts
  apps/game.megameal/scripts/test-physics-rig-contract.ts
  apps/game.megameal/scripts/test-player-package-contract.ts
  apps/game.megameal/src/editor/MasterControlMap.svelte
  apps/game.megameal/src/levels/global/index.ts
  apps/game.megameal/src/levels/observatory/collision/generated.json
  apps/game.megameal/src/levels/player/avatars/ainekio-sesame/ASSET_SOURCES.md
  apps/game.megameal/src/levels/player/avatars/ainekio-sesame/motionAdapter.ts
  apps/game.megameal/src/levels/player/avatars/ainekio-sesame/motionTestSequences.ts
  apps/game.megameal/src/levels/player/avatars/ainekio-sesame/rig.ts
  apps/game.megameal/src/levels/player/avatars/data.json
  apps/game.megameal/src/levels/player/avatars/index.ts
  apps/game.megameal/src/levels/player/constants.ts
  apps/game.megameal/src/pages/simulator.astro
Due: none

Add Ainekio robot docs and shared quiz
  apps/ainekio/docs/robot-builder-utility-plan.md
  apps/ainekio/src/content/posts/Broad-Strokes (local draft).mdx
  apps/ainekio/src/content/posts/Broad-Strokes.mdx
  apps/ainekio/src/content/posts/Discussion (working draft).mdx
  apps/ainekio/src/content/posts/Discussion.mdx
  apps/ainekio/src/content/posts/First-Steps-Work-In-Progress.mdx
  apps/ainekio/src/content/posts/Motion-Systems (local draft).mdx
  apps/ainekio/src/content/posts/Motion-Systems.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/posts/Robot-Builder-Calculator.mdx
  apps/ainekio/src/content/posts/Robot-Familiar-Parts-Overview.mdx
  apps/ainekio/src/pages/posts/[...slug].astro
  apps/megameal/src/components/quiz/Quiz.svelte
  apps/megameal/src/content.config.ts
  apps/megameal/src/styles/features/extracted/quiz.css
  packages/blog-core/package.json
  packages/blog-core/src/components/quiz/Quiz.svelte
  packages/blog-core/src/schemas/content.ts
  packages/blog-core/src/styles/quiz/quiz.css
  packages/blog-core/src/types/index.ts
  packages/blog-core/src/types/quiz.ts
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/timeline.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Update Ainekio content archive flow
  apps/ainekio/docs/robot-builder-utility-plan.md
  apps/ainekio/src/components/ArchivePanel.astro
  apps/ainekio/src/content/friends/ainekio.md
  apps/ainekio/src/content/posts/Discussion.mdx
  apps/ainekio/src/content/posts/Robot-Familiar-Parts-Overview.mdx
  apps/ainekio/src/content/posts/archive/Broad-Strokes.mdx
  apps/ainekio/src/content/posts/archive/First-Steps-Work-In-Progress.mdx
  apps/ainekio/src/content/posts/archive/Motion-Systems.mdx
  apps/ainekio/src/content/posts/archive/Project-Overview.mdx
  apps/ainekio/src/content/posts/draft/Broad-Strokes (local draft).mdx
  apps/ainekio/src/content/posts/draft/Discussion (working draft).mdx
  apps/ainekio/src/content/posts/draft/First-Steps-Work-In-Progress (local draft).mdx
  apps/ainekio/src/content/posts/draft/Motion-Systems (local draft).mdx
  apps/ainekio/src/content/posts/draft/Project-Overview (local draft).mdx
  apps/ainekio/src/content/posts/draft/Robot-Builder-Calculator.mdx
  apps/ainekio/src/content/posts/draft/Robot-Systems.mdx
  apps/ainekio/src/pages/archive/tag/[tag].astro
  apps/ainekio/src/pages/friend-content-json.ts
  apps/ainekio/src/pages/friends.astro
  apps/ainekio/src/services/TimelineService.ts
  apps/ainekio/src/stores/friendStore.ts
  apps/ainekio/src/utils/content-utils.ts
  apps/docs-editor-bridge/src/DocsEditorBridge.svelte
  apps/docs-editor-bridge/src/google-docs.ts
  apps/docs-editor-bridge/test/google-docs.test.mjs
  apps/megameal/src/contracts/content.ts
  apps/megameal/src/utils/content-utils.ts
  apps/travel/src/components/ArchivePanel.astro
  apps/travel/src/services/TimelineService.ts
  apps/travel/src/utils/content-utils.ts
  packages/blog-core/src/schemas/content.ts
  packages/blog-core/src/types/index.ts
  packages/shared-content/src/normalize-post.ts
  packages/shared-content/src/types.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Update Ainekio project notes
  apps/ainekio/src/content/updates/site-updates.md
Due: none

Update Ainekio firmware progress
  apps/ainekio/src/content/posts/_remote_doc.md
  apps/ainekio/src/content/updates/site-updates.md
Due: none

Publish Ainekio firmware and software posts
  apps/ainekio/src/content/posts/Firmware.mdx
  apps/ainekio/src/content/posts/Software.mdx
  apps/ainekio/src/content/posts/draft/Project-Overview (local draft).mdx
  apps/ainekio/src/content/updates/site-updates.md
Due: none
