Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

deploy-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:temporal

deploy-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:dndiy

deploy-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:megameal

deploy-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:travel

Fix search hydration race
  apps/megameal/src/components/Navbar.astro
  apps/megameal/src/components/Search.svelte
Due: deploy-megameal

Split Megameal client chunks
  apps/megameal/astro.config.mjs
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/pages/test-portal.astro
Due: deploy-megameal

Add high quality portal logo asset
  apps/megameal/public/assets/3D/Hy3D_textured_00005_quality.glb
  apps/megameal/src/components/home/homeIntroLogoAssets.ts
Due: deploy-megameal

Fix game runtime chunk grouping
  apps/game/astro.config.mjs
Due: none

Fix game boot smoke checks
  apps/game/scripts/boot-check-browser.mjs
  apps/game/src/threlte/levels/RuntimeActorBranch.svelte
  apps/game/src/threlte/levels/RuntimeActorNode.svelte
  apps/game/src/threlte/levels/SceneDocumentLevel.svelte
Due: none

Defer portal media loads
  apps/megameal/src/components/home/PortalHeroBackgroundSlide.astro
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/components/home/homeIntroLogoAssets.ts
  packages/blog-core/src/components/banner-stage/BannerStage.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Defer portal home media and scene loads
  apps/game/astro.config.mjs
  apps/megameal/astro.config.mjs
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/components/widget/RightRailContent.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Gate portal 3D scene behind user intent
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
Due: deploy-megameal

Refine portal media loading
  apps/megameal/public/audio/sfx/PORTAL_SFX_SOURCES.md
  apps/megameal/public/audio/sfx/portal-activate.mp3
  apps/megameal/public/audio/sfx/portal-awaken.mp3
  apps/megameal/public/audio/sfx/portal-cycle.mp3
  apps/megameal/public/audio/sfx/portal-drag.mp3
  apps/megameal/public/audio/sfx/portal-hover.mp3
  apps/megameal/public/audio/sfx/portal-reveal.mp3
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/PortalHeroBackgroundSlide.astro
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/components/home/PortalSyntheticRoute.astro
  apps/megameal/src/components/home/PortalTimelineRoute.astro
  packages/blog-core/src/components/banner-stage/BannerStage.astro
  packages/shared-audio/src/audio-ids.ts
  packages/shared-audio/src/game-audio-profile.ts
  packages/shared-audio/src/site-audio-profile.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Delay Megameal portal autoload
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
Due: deploy-megameal

Remove portal autoload delay
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
Due: deploy-megameal

Optimize Megameal intro 3D loading
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/homeIntroScreenModel.ts
Due: deploy-megameal

Chunk Megameal intro particle expansion
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroParticleField.svelte
Due: deploy-megameal

Merge local Megameal updates
  apps/megameal/CLAUDE.md
  apps/megameal/astro.config.mjs
  apps/megameal/package.json
  apps/megameal/postcss.config.mjs
  apps/megameal/scripts/audit-built-html.mjs
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/svelte/AchiveEnhancer.svelte
  apps/megameal/src/content/posts/megameal-movie-trailer-explained-horror.mdx
  apps/megameal/src/layouts/store/StoreLayout.astro
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/pages/posts/[...slug].astro
  apps/megameal/src/styles/pages/megameal-movie-trailer-explained-horror.css
  apps/megameal/src/utils/megamealRouteTransitions.ts
  packages/blog-core/src/layouts/Layout.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/blog-core/src/styles/transition.css
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine mobile portal ad layout
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/styles/features/extracted/home-intro-environment.css
  apps/megameal/src/styles/features/facts-widget/motion-responsive.css
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Add MEGA MEAL Movie Trailer Explained article with detailed breakdown and analysis
  apps/megameal/ACTIVE_THEORY_EFFECTS_AUDIT.md
  apps/megameal/PORTAL_EFFECTS_PROGRESS.md
  apps/megameal/public/thumb/megameal.png
  apps/megameal/public/thumb/megameal.webp
  apps/megameal/src/components/Navbar.astro
  apps/megameal/src/components/client/SiteAudioControl.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/store/StoreCartButton.svelte
  apps/megameal/src/content/videos/.mega-meal-explained (copy).mdx
  apps/megameal/src/styles/features/extracted/navbar.css
Due: deploy-megameal

Refine timeline mobile experience
  Temporal-Flow/src/components/timeline/TimelineCard.astro
  Temporal-Flow/src/components/timeline/TimelineViewModes/ListView.astro
  Temporal-Flow/src/components/timeline/TimelineViewModes/MapView.astro
  Temporal-Flow/src/components/timeline/TimelineViewModes/TreeView.astro
  Temporal-Flow/src/services/TimelineConfig.ts
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/components/timeline/TimelineSelectedRecord.svelte
  apps/megameal/src/components/timeline/timelinePortalCarouselModel.ts
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/styles/features/extracted/home-intro-environment.css
  apps/megameal/src/styles/features/extracted/navbar.css
Due: deploy-temporal, deploy-megameal

Fix timeline wrappers in sibling sites
  DNDIY.github.io/src/components/timeline/TimelineCard.astro
  DNDIY.github.io/src/components/timeline/TimelineViewModes/ListView.astro
  DNDIY.github.io/src/components/timeline/TimelineViewModes/MapView.astro
  DNDIY.github.io/src/components/timeline/TimelineViewModes/TreeView.astro
  DNDIY.github.io/src/services/TimelineConfig.ts
  apps/travel/src/components/timeline/TimelineCard.astro
  apps/travel/src/components/timeline/TimelineViewModes/ListView.astro
  apps/travel/src/components/timeline/TimelineViewModes/MapView.astro
  apps/travel/src/components/timeline/TimelineViewModes/TreeView.astro
  apps/travel/src/services/TimelineConfig.ts
Due: deploy-dndiy, deploy-travel

Raise 3D canvas DPR cap
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
Due: deploy-megameal

Add adaptive 3D canvas quality
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/utils/adaptiveCanvasDpr.ts
Due: deploy-megameal

Allow adaptive canvas DPR to scale up
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/utils/adaptiveCanvasDpr.ts
Due: deploy-megameal

Update mobile layouts and game scene runtime
  apps/game/scripts/boot-check-browser.mjs
  apps/game/scripts/lib/runtimeSceneManifest.mjs
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/editor/EditorNodeRenderContent.svelte
  apps/game/src/threlte/editor/defaultScenes.ts
  apps/game/src/threlte/editor/editorLevelSetup.ts
  apps/game/src/threlte/editor/scenes/miranda.scene.json
  apps/game/src/threlte/editor/scenes/observatory.scene.json
  apps/game/src/threlte/editor/scenes/sci-fi-room.scene.json
  apps/game/src/threlte/editor/scenes/solitude.scene.json
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/game/src/threlte/engine/levelValidation.ts
  apps/game/src/threlte/engine/runtimeLevelSettings.ts
  apps/game/src/threlte/engine/runtimeSceneManifest.ts
  apps/game/src/threlte/engine/sceneDocumentTypes.ts
  apps/game/src/threlte/levels/SceneDocumentLevel.svelte
  apps/megameal/public/generated/runtime-game-assets/scenes/miranda.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/observatory.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/sci-fi-room.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/solitude.runtime-scene.json
  apps/megameal/public/generated/runtime-game-assets/scenes/yggdrasil.runtime-scene.json
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/content/posts/snuggaloid-spec-sheet.mdx
  apps/megameal/src/pages/about/[...slug].astro
  apps/megameal/src/pages/posts/[...slug].astro
  apps/megameal/src/pages/videos/[...slug].astro
  apps/megameal/src/pages/videos/index.astro
  apps/megameal/src/styles/features/banner/banner-responsive.css
  apps/megameal/src/styles/features/interactions.css
  apps/megameal/src/styles/features/timeline/timeline-selected-record.css
  apps/megameal/src/styles/pages/mobile-content-frame.css
  apps/megameal/src/styles/site.ts
Due: deploy-megameal

Fix Snuggaloids product copy
  apps/megameal/src/content/products/snuggaloids.md
Due: deploy-megameal

Polish Snuggaloids review copy
  apps/megameal/src/content/products/snuggaloids.md
Due: deploy-megameal

Update Yggdrasil spawn and Snuggaloids copy
  apps/game/src/threlte/editor/EditorViewportControls.svelte
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/megameal/public/generated/runtime-game-assets/manifest.json
  apps/megameal/public/generated/runtime-game-assets/manifest.previous.json
  apps/megameal/public/generated/runtime-game-assets/scenes/yggdrasil.runtime-scene.json
  apps/megameal/src/content/products/snuggaloids.md
Due: deploy-megameal

Declare game tsx test runner
  apps/game/package.json
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Disable automatic game engine CI runs
  .github/workflows/game-engine-ci.yml
Due: none

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
