Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

deploy-temporal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:temporal

deploy-dndiy:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:dndiy

deploy-megameal:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:megameal

deploy-travel:
  stage: deploy
  script:
  - DEPLOY_BRANCH="main" pnpm deploy:travel

Add updates collection support to blog-pusher
  apps/blog-pusher/src/screens/AddPostScreen.js
  apps/blog-pusher/src/screens/HomeScreen.js
  apps/blog-pusher/src/screens/PostEditorScreen.js
  apps/blog-pusher/src/screens/PushScreen.js
  apps/blog-pusher/src/screens/RepoBrowserScreen.js
  apps/blog-pusher/src/screens/SettingsScreen.js
  apps/blog-pusher/src/utils/contentTargets.js
  apps/blog-pusher/src/utils/frontmatter.js
  apps/blog-pusher/src/utils/gitlab.js
  apps/blog-pusher/src/utils/storage.js
Due: none

Add manual blog-pusher Android build workflow
  .github/workflows/build-blog-pusher.yml
Due: none

Add generated Android project for blog-pusher
  apps/blog-pusher/.gitignore
  apps/blog-pusher/android/.gitignore
  apps/blog-pusher/android/app/build.gradle
  apps/blog-pusher/android/app/debug.keystore
  apps/blog-pusher/android/app/proguard-rules.pro
  apps/blog-pusher/android/app/src/debug/AndroidManifest.xml
  apps/blog-pusher/android/app/src/debugOptimized/AndroidManifest.xml
  apps/blog-pusher/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
  apps/blog-pusher/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
  apps/blog-pusher/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
  apps/blog-pusher/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
  apps/blog-pusher/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
  apps/blog-pusher/android/app/src/main/res/drawable/ic_launcher_background.xml
  apps/blog-pusher/android/app/src/main/res/drawable/rn_edit_text_material.xml
  apps/blog-pusher/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  apps/blog-pusher/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  apps/blog-pusher/android/app/src/main/res/values/colors.xml
  apps/blog-pusher/android/app/src/main/res/values/strings.xml
  apps/blog-pusher/android/app/src/main/res/values/styles.xml
  apps/blog-pusher/android/build.gradle
  apps/blog-pusher/android/gradle.properties
  apps/blog-pusher/android/gradle/wrapper/gradle-wrapper.jar
  apps/blog-pusher/android/gradle/wrapper/gradle-wrapper.properties
  apps/blog-pusher/android/gradlew
  apps/blog-pusher/android/gradlew.bat
  apps/blog-pusher/android/settings.gradle
Due: none

Add banner config editor to blog-pusher
  apps/blog-pusher/App.js
  apps/blog-pusher/src/screens/BannerEditorScreen.js
  apps/blog-pusher/src/screens/HomeScreen.js
  apps/blog-pusher/src/utils/bannerConfig.js
  apps/blog-pusher/src/utils/bannerTargets.js
  apps/blog-pusher/src/utils/gitlab.js
Due: none

Trim blog-pusher EAS build archive
  .github/workflows/build-blog-pusher.yml
  apps/blog-pusher/.easignore
Due: none

Remove sparse checkout for EAS build
  .github/workflows/build-blog-pusher.yml
Due: none

Constrain EAS upload to blog-pusher
  .github/workflows/build-blog-pusher.yml
Due: none

Build blog-pusher from isolated staging dir
  .github/workflows/build-blog-pusher.yml
Due: none

Prevent draft posts from leaking via post navigation
  DNDIY.github.io/src/pages/posts/[...slug].astro
  Temporal-Flow/src/pages/posts/[...slug].astro
  apps/travel/src/pages/posts/[...slug].astro
Due: deploy-temporal, deploy-dndiy, deploy-travel

Initialize git in isolated EAS build dir
  .github/workflows/build-blog-pusher.yml
Due: none

Install deps in isolated EAS build dir
  .github/workflows/build-blog-pusher.yml
Due: none

Move admin login off public navbar
  DNDIY.github.io/src/pages/login.astro
  Temporal-Flow/src/pages/login.astro
  apps/megameal/src/components/svelte/admin/AdminNavbar.svelte
  apps/megameal/src/pages/login.astro
  apps/travel/src/pages/login.astro
  packages/blog-core/src/components/svelte/admin/AdminNavbar.svelte
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

update: trail-updates
  apps/travel/src/content/updates/trail-updates.md
Due: deploy-travel

Revise trail updates and correct date entry
  apps/travel/src/content/updates/trail-updates.md
Due: deploy-travel

Rename death-by-1000-cuts-v1.md to _death-by-1000-cuts-v1.md
  apps/travel/src/content/posts/_death-by-1000-cuts-v1.md
Due: deploy-travel

Rename pct-gear.md to _pct-gear.md
  apps/travel/src/content/posts/_pct-gear.md
Due: deploy-travel

Rename pct-pack-weight-ultralight-v2-1.md to _pct-pack-weight-ultralight-v2-1.md
  apps/travel/src/content/posts/_pct-pack-weight-ultralight-v2-1.md
Due: deploy-travel

Rename pctfootankleguide-1.md to _pctfootankleguide-1.md
  apps/travel/src/content/posts/_pctfootankleguide-1.md
Due: deploy-travel

archive travel site: replace with static notice page
  Archive/travel-site-content/posts/Food_plan_week_1-2.md
  Archive/travel-site-content/posts/_template.md
  Archive/travel-site-content/posts/death-by-1000-cuts-v1.md
  Archive/travel-site-content/posts/foraging-desert-edible-plants-campo-to-julian.md
  Archive/travel-site-content/posts/foraging-mountains-julian-to-san-jacinto.md
  Archive/travel-site-content/posts/lower-body-injury-guide-1.md
  Archive/travel-site-content/posts/pct-gear.md
  Archive/travel-site-content/posts/pct-pack-weight-ultralight-v2-1.md
  Archive/travel-site-content/posts/pctfootankleguide-1.md
  apps/travel/astro.config.mjs
  apps/travel/package.json
  apps/travel/src/pages/[...page].astro
  apps/travel/src/pages/about.astro
  apps/travel/src/pages/archive/category/[category].astro
  apps/travel/src/pages/archive/category/uncategorized.astro
  apps/travel/src/pages/archive/index.astro
  apps/travel/src/pages/archive/tag/[tag].astro
  apps/travel/src/pages/atom.xml.ts
  apps/travel/src/pages/community.astro
  apps/travel/src/pages/configs.astro
  apps/travel/src/pages/feed.xml.ts
  apps/travel/src/pages/feed/index.xml.ts
  apps/travel/src/pages/friend-content-json.ts
  apps/travel/src/pages/friends.astro
  apps/travel/src/pages/index.astro
  apps/travel/src/pages/journal.astro
  apps/travel/src/pages/login.astro
  apps/travel/src/pages/new-post.astro
  apps/travel/src/pages/pdf/posts/[...slug].astro
  apps/travel/src/pages/posts/[...slug].astro
  apps/travel/src/pages/robots.txt.ts
  apps/travel/src/pages/rss.xml.ts
  apps/travel/src/pages/rss/index.xml.ts
  apps/travel/src/pages/sitemap.xml.ts
Due: deploy-travel

simplify travel archive page — plain notice, no post listing
  apps/travel/src/pages/index.astro
Due: deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
