Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml

simplify travel archive page — plain notice, no post listing
  apps/travel/src/pages/index.astro
Due: deploy-travel

feat(megameal): redesign homepage as universe entry experience
  apps/megameal/src/components/PostCard.astro
  apps/megameal/src/components/home/EraBrowser.astro
  apps/megameal/src/components/home/FeaturedArc.astro
  apps/megameal/src/components/home/UniverseHero.astro
  apps/megameal/src/config/seriesConfig.ts
  apps/megameal/src/content/posts/timelines/Snuggaliod-Emergence.mdx
  apps/megameal/src/content/posts/timelines/Snuggloids-Commercial.mdx
  apps/megameal/src/content/posts/timelines/The Miranda Incident.mdx
  apps/megameal/src/content/posts/timelines/boudin-noir-restaurant-review.mdx
  apps/megameal/src/content/posts/timelines/first-contact-1.mdx
  apps/megameal/src/content/posts/timelines/first-contact-2.mdx
  apps/megameal/src/content/posts/timelines/first-contact-3.mdx
  apps/megameal/src/content/posts/timelines/first-contact-4.mdx
  apps/megameal/src/content/posts/timelines/first-contact-5.mdx
  apps/megameal/src/content/posts/timelines/first-contact-afterword.mdx
  apps/megameal/src/content/posts/timelines/first-contact-forward.mdx
  apps/megameal/src/content/posts/timelines/first-contact-index.mdx
  apps/megameal/src/content/posts/timelines/miranda-bloody-mary.mdx
  apps/megameal/src/content/posts/timelines/perfect-mary-recipe.mdx
  apps/megameal/src/content/posts/timelines/zelephant-truffle-roast.mdx
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/pages/posts/[...slug].astro
  apps/megameal/src/utils/content-utils.ts
  packages/blog-core/src/schemas/content.ts
  packages/blog-core/src/types/index.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat(megameal): integrate universe hero into banner as first slide, add dynamic interactions
  apps/megameal/src/components/home/EraBrowser.astro
  apps/megameal/src/components/home/FeaturedArc.astro
  apps/megameal/src/components/home/UniverseHeroSlide.astro
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/styles/megameal-interactions.css
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(megameal): banner click links, animated stars, Ken Burns transitions, widget border polish
  apps/megameal/src/components/home/EraBrowser.astro
  apps/megameal/src/components/home/FeaturedArc.astro
  apps/megameal/src/components/home/UniverseHeroSlide.astro
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/styles/megameal-interactions.css
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine megameal portal and ad experience
  apps/megameal/astro.config.mjs
  apps/megameal/src/components/PostCard.astro
  apps/megameal/src/components/home/PortalDestinations.astro
  apps/megameal/src/components/home/UniverseHeroSlide.astro
  apps/megameal/src/components/quiz/Quiz.svelte
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/components/widget/SideBar.astro
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/config/timelineFacts.ts
  apps/megameal/src/content/quizzes/megameal-experience-review.json
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/styles/megameal-interactions.css
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(game): run dev server on port 4322 to avoid conflict with megameal
  apps/game/package.json
Due: none

Fix shared-data build for CI
  packages/shared-data/package.json
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Fix Cloudflare game deploy target
  package.json
  scripts/deploy-pages-with-retry.sh
Due: none

Fix game root deployment routing
  .github/workflows/deploy-sites.yml
  .gitlab-ci.yml
  apps/game/package.json
  apps/game/src/threlte/features/multiplayer/ui/HostPanel.svelte
  package.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Improve game performance and controller support
  apps/game/src/threlte/features/lighting/LightingManager.ts
  apps/game/src/threlte/features/ocean/components/OceanComponent.svelte
  apps/game/src/threlte/features/performance/OptimizationManager.ts
  apps/game/src/threlte/features/performance/systems/Performance.svelte
  apps/game/src/threlte/features/player/Player.svelte
  apps/game/src/threlte/features/terrain/TerrainManager.ts
  apps/game/src/threlte/systems/Renderer.svelte
Due: none

Deprecate legacy megameal archive
  MEGAMEAL/ARCHIVE_NOTICE.md
  MEGAMEAL/README.md
  MEGAMEAL/package.json
  MEGAMEAL/public/_redirects
  MEGAMEAL/scripts/archived-app.mjs
  apps/game/astro.config.mjs
Due: deploy-megameal

Reduce megameal warning noise and retire legacy deploy
  .github/workflows/deploy-game-to-megameal.yml
  apps/megameal/src/components/client/SiteAudioControl.svelte
  apps/megameal/src/components/home/UniverseHeroSlide.astro
  apps/megameal/src/styles/megameal-interactions.css
  apps/megameal/src/utils/site-audio.ts
  packages/blog-core/src/components/widget/DisplaySettings.svelte
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine megameal portal archive and banner UX
  apps/megameal/public/assets/banner/golden-era.jpg
  apps/megameal/src/components/Search.svelte
  apps/megameal/src/components/archive/ArchiveStoryMap.astro
  apps/megameal/src/components/client/PageAnimations.svelte
  apps/megameal/src/components/client/SiteAudioControl.svelte
  apps/megameal/src/components/home/PortalDestinations.astro
  apps/megameal/src/components/home/PortalSyntheticRoute.astro
  apps/megameal/src/components/home/PortalTimelineRoute.astro
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/pages/archive/index.astro
  apps/megameal/src/utils/site-audio.ts
  packages/blog-core/src/components/client/PageAnimations.svelte
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/posts.json
  packages/shared-data/generated/timeline.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine timeline UI and fix event 404 errors
  apps/megameal/public/assets/banner/golden-era.webm
  apps/megameal/src/config/config.ts
  packages/blog-core/src/components/timeline/TimelineBanner.astro
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/posts.json
  packages/shared-data/generated/timeline.json
  packages/shared-data/src/build/build-posts-manifest.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine megameal timeline and banner media controls
  apps/megameal/public/assets/banner/archive_2.webm
  apps/megameal/public/assets/banner/cookbook_glitch.webm
  apps/megameal/public/assets/banner/store_glitch.webm
  apps/megameal/public/assets/banner/universbg0001-0121.webm
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/config/banners/types.ts
  apps/megameal/src/config/config.ts
  apps/megameal/src/config/timelineconfig.ts
  apps/megameal/src/pages/timeline.astro
  packages/blog-core/src/components/timeline/TimelineBanner.astro
  packages/blog-core/src/components/timeline/TimelineViewModes/TimelineView.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/blog-core/src/services/TimelineConfig.ts
  packages/blog-core/src/types/index.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Update story mode banner media entry
  apps/megameal/src/config/banners/standard.ts
Due: deploy-megameal

Fix timeline view build and update banner media
  apps/megameal/public/assets/banner/cookbook-glitch0001-0049.webm
  apps/megameal/src/config/banners/standard.ts
  packages/blog-core/src/components/timeline/TimelineViewModes/TimelineView.astro
  packages/blog-core/src/components/timeline/TimelineViewModes/timelineViewClient.js
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat(megameal): implement product store with cart, media gallery, and updated assets
  apps/megameal/public/ads/Ouroboros.png
  apps/megameal/public/assets/banner/cookbook.webm
  apps/megameal/public/assets/banner/ultra-headquarters.png
  apps/megameal/public/assets/hdri/.comments/skywip4k.webp.xml
  apps/megameal/public/assets/hdri/sky3.png
  apps/megameal/src/components/store/CartDrawer.svelte
  apps/megameal/src/components/store/MediaGallery.svelte
  apps/megameal/src/components/store/ProductCard.astro
  apps/megameal/src/components/store/StoreNavbar.astro
  apps/megameal/src/config/banners/standard.ts
  apps/megameal/src/config/config.ts
  apps/megameal/src/config/timelineFacts.ts
  apps/megameal/src/config/timelineconfig.ts
  apps/megameal/src/content.config.ts
  apps/megameal/src/content/products/crateclip-xl.md
  apps/megameal/src/content/products/megameal-cookbook.md
  apps/megameal/src/content/products/puppy-rescue-rations.md
  apps/megameal/src/content/products/sad-snax.md
  apps/megameal/src/content/products/snuggaloids.md
  apps/megameal/src/content/products/the-dip.md
  apps/megameal/src/layouts/store/StoreLayout.astro
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/pages/store.astro
  apps/megameal/src/pages/store/[slug].astro
  apps/megameal/src/stores/cartStore.ts
  packages/blog-core/src/components/timeline/TimelineViewModes/TimelineView.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat(store): enhance asset resolution and media handling in product and store pages
  apps/megameal/src/components/store/ProductCard.astro
  apps/megameal/src/layouts/store/StoreLayout.astro
  apps/megameal/src/pages/store.astro
  apps/megameal/src/pages/store/[slug].astro
Due: deploy-megameal

Fix: Add image field to non-featured products for schema consistency
  apps/megameal/src/content/products/megameal-cookbook.md
  apps/megameal/src/content/products/puppy-rescue-rations.md
  apps/megameal/src/content/products/sad-snax.md
  apps/megameal/src/content/products/snuggaloids.md
  apps/megameal/src/content/products/the-dip.md
Due: deploy-megameal

docs: clarify shared publicDir between game and megameal
  CLAUDE.md
  apps/game/astro.config.mjs
Due: none

feat(megameal): refactor homepage into curated portal layout
  apps/megameal/src/components/home/FeaturedArc.astro
  apps/megameal/src/components/home/LatestTransmissions.astro
  apps/megameal/src/pages/[...page].astro
Due: deploy-megameal

feat(megameal): improve portal route sizing and timeline layout
  apps/megameal/public/assets/banner/golden-era.webm
  apps/megameal/public/assets/banner/golden-era_still.webm
  apps/megameal/src/components/home/PortalSyntheticRoute.astro
  apps/megameal/src/components/home/PortalTimelineRoute.astro
  apps/megameal/src/pages/[...page].astro
Due: deploy-megameal

fix(game): auto-return to observatory when sci-fi-room GLB is missing
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/components/HybridFireflyComponent.svelte
  apps/game/src/threlte/core/LevelManager.svelte
  apps/game/src/threlte/features/conversation/conversationStores.ts
  apps/game/src/threlte/features/ocean/components/OceanComponent.svelte
  apps/game/src/threlte/features/performance/stores/performanceStore.ts
  apps/game/src/threlte/features/performance/systems/Performance.svelte
  apps/game/src/threlte/features/performance/ui/PerformancePanel.svelte
  apps/game/src/threlte/features/terrain/Terrain.svelte
  apps/game/src/threlte/levels/HybridObservatory.svelte
  apps/game/src/threlte/levels/SciFiRoom.svelte
  apps/megameal/public/assets/banner/golden-era.webm
  apps/megameal/src/config/config.ts
  apps/megameal/src/pages/[...page].astro
Due: deploy-megameal

feat(game): add procedural sci-fi room level
  apps/game/src/threlte/levels/SciFiRoom.svelte
Due: none

fix(game): scale sci-fi room 2x and add exit portal
  apps/game/src/threlte/levels/SciFiRoom.svelte
Due: none

perf(game): optimize megameal startup and runtime
  apps/game/astro.config.mjs
  apps/game/package.json
  apps/game/src/shims/rapier3d-compat.ts
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/components/HybridFireflyComponent.svelte
  apps/game/src/threlte/features/lighting/LightingManager.ts
  apps/game/src/threlte/features/ocean/components/OceanComponent.svelte
  apps/game/src/threlte/features/ocean/effects/UnderwaterOverlay.svelte
  apps/game/src/threlte/features/player/Player.svelte
  apps/game/src/threlte/features/terrain/Terrain.svelte
  apps/game/src/threlte/features/terrain/components/TerrainCollider.svelte
  apps/game/src/threlte/levels/HybridObservatory.svelte
  apps/game/src/threlte/levels/SciFiRoom.svelte
  apps/game/src/threlte/systems/InteractionSystem.svelte
  apps/game/src/threlte/systems/Renderer.svelte
  apps/game/src/threlte/systems/StarMap.svelte
  apps/game/src/threlte/ui/SettingsPanel.svelte
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat(game): improve mobile controls and visibility
  apps/game/src/layouts/GameLayout.astro
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/features/player/Player.svelte
  apps/game/src/threlte/features/player/ThrelteMobileControls.svelte
  apps/game/src/threlte/features/player/mobileInputStore.ts
  apps/game/src/threlte/levels/HybridObservatory.svelte
  apps/game/src/threlte/levels/SciFiRoom.svelte
  apps/game/src/threlte/systems/InteractionSystem.svelte
  apps/game/src/threlte/ui/MobileEnhancements.svelte
Due: none

repair game runtime and tools bridge
  apps/game/package.json
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/editor/EditorViewportControls.svelte
  apps/game/src/threlte/stores/postProcessingStore.ts
  apps/game/src/threlte/systems/SpawnSystem.svelte
  apps/game/src/threlte/utils/materialUtils.ts
  apps/game/src/threlte/utils/proceduralTextures.ts
  tools/legacy-megameal-tools/app.cjs
Due: none

harden editor ui and lazy load game systems
  apps/game/astro.config.mjs
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/editor/EditorPanel.svelte
  apps/game/src/threlte/systems/SpawnSystem.svelte
  apps/game/src/threlte/ui/SettingsButton.svelte
  apps/game/src/threlte/ui/SettingsPanel.svelte
  docs/stabilization-checklist.md
Due: none

reduce ui warnings and split editor runtime
  apps/game/astro.config.mjs
  apps/game/src/threlte/Game.svelte
  apps/game/src/threlte/components/HybridFireflyComponent.svelte
  apps/game/src/threlte/components/LevelTransitionHandler.svelte
  apps/game/src/threlte/features/conversation/ConversationDialog.svelte
  apps/game/src/threlte/features/conversation/FireflyAvatar.svelte
  apps/game/src/threlte/features/multiplayer/ui/HostPanel.svelte
  apps/game/src/threlte/systems/SimplePostProcessing.svelte
  apps/game/src/threlte/ui/TimelineCard.svelte
Due: none

repair legacy scene defaults during upgrade
  apps/game/src/threlte/editor/defaultScenes.ts
Due: none

trim terrain warnings and stabilize editor chunks
  apps/game/astro.config.mjs
  apps/game/src/threlte/features/terrain/Terrain.svelte
  apps/game/src/threlte/features/terrain/components/TerrainChunk.svelte
  apps/game/src/threlte/features/terrain/components/TerrainCollider.svelte
  apps/game/src/threlte/levels/HybridObservatory.svelte
Due: none
