Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml

Disable automatic game engine CI runs
  .github/workflows/game-engine-ci.yml
Due: none

Publish Yggdrasil updates
  apps/game/src/threlte/editor/defaultScenes.ts
  apps/game/src/threlte/editor/editorLevelController.ts
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/megameal/public/generated/runtime-game-assets/manifest.json
  apps/megameal/public/generated/runtime-game-assets/manifest.previous.json
  apps/megameal/public/generated/runtime-game-assets/scenes/yggdrasil.runtime-scene.json
  apps/megameal/public/generated/style-lab/blender/comfyui-flux-style-test/comfyui-flux-depth-style-api-prompt.json
  apps/megameal/public/generated/style-lab/blender/comfyui-flux-style-test/yggdrasil-world-tree-flux-depth-aquarelle-paint-test-strong.png
  apps/megameal/public/generated/style-lab/blender/comfyui-flux-style-test/yggdrasil-world-tree-flux-depth-aquarelle-paint-test.png
  apps/megameal/public/generated/style-lab/blender/comfyui-flux-style-test/yggdrasil-world-tree-flux-depth-style-comparison.png
  apps/megameal/public/generated/style-lab/blender/comfyui-flux-style-test/yggdrasil-world-tree-source-composition.blend
  apps/megameal/public/generated/style-lab/blender/comfyui-flux-style-test/yggdrasil-world-tree-source-composition.png
  apps/megameal/public/generated/style-lab/blender/hunyuan3d-paint-test/hunyuan3d-paint-face100k-request.json
  apps/megameal/public/generated/style-lab/blender/hunyuan3d-paint-test/server-output/2aa0ed52-b67b-4e10-9781-c3603301ea7d.glb
  apps/megameal/public/generated/style-lab/blender/hunyuan3d-paint-test/yggdrasil-world-tree-hunyuan3d-paint-face100k-comparison.blend
  apps/megameal/public/generated/style-lab/blender/hunyuan3d-paint-test/yggdrasil-world-tree-hunyuan3d-paint-face100k-comparison.png
  apps/megameal/public/generated/style-lab/blender/hunyuan3d-paint-test/yggdrasil-world-tree-hunyuan3d-paint-reference-textured-face100k.glb
  apps/megameal/public/generated/style-lab/blender/inspect_world_tree_materials.py
  apps/megameal/public/generated/style-lab/blender/render_world_tree_source_composition.py
  apps/megameal/public/generated/style-lab/blender/run_comfyui_flux_depth_style_test.py
  apps/megameal/public/generated/style-lab/blender/run_hunyuan3d_paint_world_tree_test.py
Due: deploy-megameal

Publish current game state
  apps/game/src/threlte/atmosphere/buildRuntimeAtmosphere.ts
  apps/game/src/threlte/editor/EditorEnvironmentPanel.svelte
  apps/game/src/threlte/editor/scenes/yggdrasil.scene.json
  apps/game/src/threlte/engine/sceneDocumentTypes.ts
  apps/game/src/threlte/levels/SceneDocumentLevel.svelte
  apps/megameal/public/generated/runtime-game-assets/scenes/yggdrasil.runtime-scene.json
  apps/megameal/public/generated/style-lab/blender/bake_comfyui_single_view_projection.py
  apps/megameal/public/generated/style-lab/blender/comfyui-projection-bake-test/yggdrasil-world-tree-comfyui-single-view-projection-basecolor.png
  apps/megameal/public/generated/style-lab/blender/comfyui-projection-bake-test/yggdrasil-world-tree-comfyui-single-view-projection-comparison.blend
  apps/megameal/public/generated/style-lab/blender/comfyui-projection-bake-test/yggdrasil-world-tree-comfyui-single-view-projection-comparison.png
  apps/megameal/public/generated/style-lab/blender/comfyui-projection-bake-test/yggdrasil-world-tree-comfyui-single-view-projection.glb
Due: deploy-megameal

Publish remaining scene updates
  apps/game/src/threlte/editor/scenes/miranda.scene.json
  apps/game/src/threlte/editor/scenes/sci-fi-room.scene.json
Due: none

Add Megameal portal demo glitch transitions
  apps/megameal/src/components/home/PortalDemoVideoPlayer.astro
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Fix Megameal portal mobile controls
  apps/megameal/src/components/client/SiteAudioControl.svelte
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/styles/features/extracted/home-intro-environment.css
  apps/megameal/src/styles/features/extracted/navbar.css
  apps/megameal/src/styles/features/extracted/site-audio-control.css
  apps/megameal/src/styles/features/facts-widget/motion-responsive.css
Due: deploy-megameal

Migrate Megameal quizzes and centralize banner layout
  apps/megameal/src/components/svelte/admin/BannerConfigExporter.svelte
  apps/megameal/src/components/svelte/admin/config-tabs/appearance/BannerLayoutSpacingSettings.svelte
  apps/megameal/src/components/svelte/admin/config-tabs/appearance/BannerSettings.svelte
  apps/megameal/src/components/svelte/admin/config-tabs/appearance/bannerLayoutAdmin.ts
  apps/megameal/src/config/banner.config.ts
  apps/megameal/src/config/banners/layout.ts
  apps/megameal/src/config/banners/none.ts
  apps/megameal/src/content.config.ts
  apps/megameal/src/content/quizzes/megameal-experience-review.json
  apps/megameal/src/content/quizzes/megameal-experience-review.mdx
  apps/megameal/src/content/quizzes/sample-quiz.json
  apps/megameal/src/content/quizzes/sample-quiz.mdx
  apps/megameal/src/content/quizzes/whats-wrong-with-you (copy).json
  apps/megameal/src/content/quizzes/whats-wrong-with-you.json
  apps/megameal/src/content/quizzes/whats-wrong-with-you.mdx
  apps/megameal/src/layouts/QuizLayout.astro
  apps/megameal/src/pages/quiz/[slug].astro
  apps/megameal/src/pages/quiz/index.astro
  apps/megameal/src/styles/features/banner/banner-responsive.css
  packages/blog-core/src/components/banner-stage/BannerStage.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Publish remaining Megameal visual updates
  MEGAMEAL/src/assets/banner/ComfyUI_0001.png
  apps/megameal/public/assets/banner/cookbook-open-book.webp
  apps/megameal/public/posts/cookbook/cookbookopen.png
  apps/megameal/public/posts/cookbook/cookbookopen2.png
  apps/megameal/src/components/cookbook/CookbookBanner.astro
  apps/megameal/src/components/reader/ReaderBanner.astro
  apps/megameal/src/components/timeline/TimelineAutoplayButton.svelte
  apps/megameal/src/components/timeline/TimelineCameraPanControls.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/components/timeline/TimelinePositionSlider.svelte
  apps/megameal/src/components/timeline/TimelineViewModeButton.svelte
  apps/megameal/src/styles/features/extracted/navbar.css
Due: deploy-megameal

Adjust cookbook banner height
  apps/megameal/src/components/cookbook/CookbookBanner.astro
Due: deploy-megameal

Publish Megameal cleanup and audit work
  apps/megameal/astro.config.mjs
  apps/megameal/package.json
  apps/megameal/public/posts/cookbook/cookbookopen2.png
  apps/megameal/reports/2026-05-21-link-and-build-audit.md
  apps/megameal/scripts/audit-links.mjs
  apps/megameal/src/components/archive/ArchiveAtmosphere.svelte
  apps/megameal/src/components/client/SiteSfxBridge.svelte
  apps/megameal/src/components/cookbook/CookbookBanner.astro
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroLogoReflections.svelte
  apps/megameal/src/components/home/HomeIntroParticleField.svelte
  apps/megameal/src/components/home/HomeIntroRingGlow.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/PortalDemoVideoPlayer.astro
  apps/megameal/src/components/home/PortalHeroBackgroundSlide.astro
  apps/megameal/src/components/home/homeIntroGlassTextures.ts
  apps/megameal/src/components/home/homeIntroScreenTextTextures.ts
  apps/megameal/src/components/timeline/TimelinePortalCarouselScene.svelte
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/config/banner.config.ts
  apps/megameal/src/config/config.ts
  apps/megameal/src/constants/icon.ts
  apps/megameal/src/styles/features/home/portal-hero-slide.css
  apps/megameal/src/styles/foundation/forms-effects-accessibility.css
  apps/megameal/src/styles/layouts/store.css
  apps/megameal/src/utils/site-sfx.ts
  apps/megameal/src/utils/threeTextureUtils.ts
  packages/blog-core/src/components/banner-stage/BannerStage.astro
  packages/blog-core/src/styles/main.css
  packages/blog-core/src/styles/timeline-feature.css
  packages/blog-core/src/styles/timeline-styles.css
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/posts.json
  packages/shared-data/generated/timeline.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Fix portal demo audio activation
  apps/megameal/src/components/home/PortalDemoVideoPlayer.astro
Due: deploy-megameal

Remove Megameal legacy editor
  apps/megameal/CLAUDE.md
  apps/megameal/SITE_MAP.md
  apps/megameal/astro.config.mjs
  apps/megameal/package.json
  apps/megameal/scripts/new-post.js
  apps/megameal/src/components/client/SiteAudioControl.svelte
  apps/megameal/src/components/client/SiteSfxBridge.svelte
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
  apps/megameal/src/components/home/PortalDemoVideoPlayer.astro
  apps/megameal/src/components/svelte/PostEditor/PostEditor.svelte
  apps/megameal/src/components/svelte/PostEditor/components/GithubIntegration.svelte
  apps/megameal/src/components/svelte/PostEditor/components/ImportPanel.svelte
  apps/megameal/src/components/svelte/PostEditor/components/PostBrowser.svelte
  apps/megameal/src/components/svelte/PostEditor/components/PostForm.svelte
  apps/megameal/src/components/svelte/PostEditor/components/PostFormattingToolbar.svelte
  apps/megameal/src/components/svelte/PostEditor/components/PostMarkdownHelp.svelte
  apps/megameal/src/components/svelte/PostEditor/components/ToastNotification.svelte
  apps/megameal/src/components/svelte/PostEditor/types.d.ts
  apps/megameal/src/components/svelte/PostEditor/utils/fileUtils.ts
  apps/megameal/src/components/svelte/PostEditor/utils/githubUtils.ts
  apps/megameal/src/components/svelte/PostEditor/utils/postUtils.ts
  apps/megameal/src/components/svelte/admin/AdminNavbar.svelte
  apps/megameal/src/components/svelte/admin/config-tabs/NavigationConfigTab.svelte
  apps/megameal/src/components/widget/NavMenuPanel.astro
  apps/megameal/src/constants/link-presets.ts
  apps/megameal/src/i18n/i18nKey.ts
  apps/megameal/src/i18n/languages/en.ts
  apps/megameal/src/i18n/languages/es.ts
  apps/megameal/src/i18n/languages/ja.ts
  apps/megameal/src/i18n/languages/ko.ts
  apps/megameal/src/i18n/languages/th.ts
  apps/megameal/src/i18n/languages/zh_CN.ts
  apps/megameal/src/i18n/languages/zh_TW.ts
  apps/megameal/src/pages/new-post.astro
  apps/megameal/src/pages/robots.txt.ts
  apps/megameal/src/utils/site-audio-activation.ts
  apps/megameal/src/utils/site-audio.ts
  apps/megameal/src/utils/site-sfx.ts
  pnpm-lock.yaml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Refine Megameal home intro presentation
  apps/megameal/public/assets/3D/screen.glb
  apps/megameal/src/components/client/SiteSfxBridge.svelte
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroSceneBackdrop.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/homeIntroReflectionOnly.ts
  apps/megameal/src/components/home/homeIntroScreenContentRenderer.ts
  apps/megameal/src/components/home/homeIntroScreenModel.ts
  apps/megameal/src/utils/site-audio-activation.ts
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/posts.json
  packages/shared-data/generated/timeline.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Polish Megameal home portal controls
  apps/megameal/public/assets/3D/screen.glb
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/components/home/homeIntroScreenModel.ts
  apps/megameal/src/styles/features/home/portal-hero-scroll-cue.css
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Refine Megameal home audio state
  apps/megameal/src/components/home/HomeIntroSceneBackdrop.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/homeIntroScreenContentRenderer.ts
  apps/megameal/src/utils/site-audio-activation.ts
  apps/megameal/src/utils/site-audio.ts
  apps/megameal/src/utils/site-howler-context.ts
  apps/megameal/src/utils/site-sfx.ts
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/posts.json
  packages/shared-data/generated/timeline.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Fix Megameal audio gestures and portal demo assets
  apps/megameal/public/assets/portal-demo/democlip1.webm
  apps/megameal/public/assets/portal-demo/democlip2.webm
  apps/megameal/public/assets/portal-demo/democlip3.webm
  apps/megameal/public/assets/portal-demo/democlip4.webm
  apps/megameal/public/assets/portal-demo/democlip5.webm
  apps/megameal/public/assets/portal-demo/democlip6.webm
  apps/megameal/public/assets/portal-demo/dreams1.webm
  apps/megameal/public/assets/portal-demo/fud.webm
  apps/megameal/public/assets/portal-demo/slave.webm
  apps/megameal/public/assets/portal-demo/snuggaloids.webm
  apps/megameal/src/components/client/SiteSfxBridge.svelte
  apps/megameal/src/components/home/PortalDemoVideoPlayer.astro
  apps/megameal/src/utils/site-audio-activation.ts
Due: deploy-megameal

Enhance Megameal archive story map controls
  apps/megameal/src/components/archive/ArchiveStoryMap.astro
  apps/megameal/src/styles/features/archive/story-map-records.css
  apps/megameal/src/styles/features/archive/story-map-responsive.css
  apps/megameal/src/styles/features/archive/story-map-shell.css
Due: deploy-megameal

Add Megameal portal screen info ticker
  apps/megameal/public/assets/3D/screen.blend
  apps/megameal/public/assets/3D/screen.blend1
  apps/megameal/public/assets/3D/screen.glb
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroScreenPanel.svelte
  apps/megameal/src/components/home/homeIntroScreenTextTextures.ts
Due: deploy-megameal

Publish Megameal portal tentacle updates
  apps/megameal/public/assets/3D/tentacle.glb
  apps/megameal/public/assets/portal-demo/portal-overlay.webp
  apps/megameal/public/assets/portal-demo/portal-overlay.webp0001.webp
  apps/megameal/public/assets/portal-demo/portal-overlayb.webp
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroTentacleModel.svelte
  apps/megameal/src/components/home/PortalDemoVideoPlayer.astro
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Update Megameal community display settings
  apps/megameal/src/config/community.config.ts
  apps/megameal/src/pages/community.astro
  packages/blog-core/src/components/banner-stage/BannerStage.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Publish Megameal home sprite intro
  apps/megameal/public/assets/portal-demo/portal-overlay.webp
  apps/megameal/public/assets/sprites/sprite-rest-atlas.json
  apps/megameal/public/assets/sprites/sprite-rest-atlas.webp
  apps/megameal/public/assets/sprites/sprite-rest/0001.webp
  apps/megameal/public/assets/sprites/sprite-rest/0002.webp
  apps/megameal/public/assets/sprites/sprite-rest/0003.webp
  apps/megameal/public/assets/sprites/sprite-rest/0004.webp
  apps/megameal/public/assets/sprites/sprite-rest/0005.webp
  apps/megameal/public/assets/sprites/sprite-rest/0006.webp
  apps/megameal/public/assets/sprites/sprite-rest/0007.webp
  apps/megameal/public/assets/sprites/sprite-rest/0008.webp
  apps/megameal/public/assets/sprites/sprite-rest/0009.webp
  apps/megameal/public/assets/sprites/sprite-rest/0010.webp
  apps/megameal/public/assets/sprites/sprite-rest/0011.webp
  apps/megameal/public/assets/sprites/sprite-rest/0012.webp
  apps/megameal/public/assets/sprites/sprite-rest/0013.webp
  apps/megameal/public/assets/sprites/sprite-rest/0014.webp
  apps/megameal/public/assets/sprites/sprite-rest/0015.webp
  apps/megameal/public/assets/sprites/sprite-rest/0016.webp
  apps/megameal/public/assets/sprites/sprite-rest/0017.webp
  apps/megameal/public/assets/sprites/sprite-rest/0018.webp
  apps/megameal/public/assets/sprites/sprite-rest/0019.webp
  apps/megameal/public/assets/sprites/sprite-rest/0020.webp
  apps/megameal/public/assets/sprites/sprite-rest/0021.webp
  apps/megameal/public/assets/sprites/sprite-rest/0022.webp
  apps/megameal/public/assets/sprites/sprite-rest/0023.webp
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroLogoModel.svelte
  apps/megameal/src/components/home/HomeIntroLogoSprite.svelte
  apps/megameal/src/components/home/homeIntroScreenTextTextures.ts
Due: deploy-megameal

Publish Megameal CSS guardrails
  apps/megameal/AGENTS.md
  apps/megameal/docs/frontend-architecture-guardrails.md
  apps/megameal/public/assets/sprites/sprite-rest-atlas-lean.json
  apps/megameal/public/assets/sprites/sprite-rest-atlas-lean.webp
  apps/megameal/reports/css-architecture-baseline.json
  apps/megameal/scripts/audit-css-architecture.mjs
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroLogoModel.svelte
  apps/megameal/src/components/home/homeIntroScreenTextTextures.ts
  apps/megameal/src/styles/README.md
  docs/megameal-css-cleanup-plan.md
Due: deploy-megameal

Ignore local agent tooling files
  .codex
  .gitignore
  AGENTS.md
  CLAUDE.md
  apps/game/AGENTS.md
  apps/megameal/AGENTS.md
  apps/megameal/CLAUDE.md
Due: deploy-megameal

Load Megameal intro environment automatically
  apps/megameal/src/components/home/HomeIntroEnvironmentLoader.svelte
Due: deploy-megameal

Add portal sponsored bloom
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/PortalSponsoredBloom.astro
  apps/megameal/src/config/timelineFacts.ts
  apps/megameal/src/pages/[...page].astro
  apps/megameal/src/styles/features/home/portal-sponsored-bloom.css
Due: deploy-megameal

Refine portal bloom behavior
  apps/megameal/src/components/home/PortalSponsoredBloom.astro
  apps/megameal/src/components/widget/FactsWidget.astro
  apps/megameal/src/config/timelineFacts.ts
  apps/megameal/src/styles/features/home/portal-sponsored-bloom.css
  apps/megameal/src/utils/site-audio-activation.ts
  apps/megameal/src/utils/site-audio.ts
  apps/megameal/src/utils/site-sfx.ts
Due: deploy-megameal

Sync local Megameal metadata updates
  apps/megameal/src/config/config.ts
  packages/shared-data/generated/archive.json
  packages/shared-data/generated/game-stars.json
  packages/shared-data/generated/posts.json
  packages/shared-data/generated/timeline.json
  packages/shared-data/src/build/build-game-stars-manifest.ts
  packages/shared-data/src/build/build-posts-manifest.ts
  packages/shared-data/src/build/build-timeline-manifest.ts
  packages/shared-data/src/types.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Fix portal demo recovery and video readiness
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
  apps/megameal/src/components/home/homeIntroScreenContentRenderer.ts
  apps/megameal/src/styles/features/home/portal-hero-slide.css
Due: deploy-megameal

Update timeline map controls and nav link
  apps/megameal/src/components/timeline/TimelineCameraPanControls.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarouselScene.svelte
  apps/megameal/src/components/timeline/TimelineViewModeButton.svelte
  apps/megameal/src/components/timeline/timelinePortalCarouselModel.ts
  apps/megameal/src/config/config.ts
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/pages/timeline/2d.astro
Due: deploy-megameal

Fix site theme CSS
  Temporal-Flow/src/styles/main.css
  packages/blog-core/src/styles/timeline-styles.css
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel
