Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Path conditions:
  deploy-temporal: any of: Temporal-Flow/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-dndiy: any of: DNDIY.github.io/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-megameal: any of: apps/megameal/**/*, MEGAMEAL/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml
  deploy-travel: any of: apps/travel/**/*, packages/**/*, pnpm-lock.yaml, .gitlab-ci.yml

fix: load site styles on main grid routes
  apps/megameal/src/layouts/MainGridLayout.astro
Due: deploy-megameal

feat(megameal): refine portal arrival experience
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
  apps/megameal/astro.config.mjs
  apps/megameal/docs/PROTECTED_HOME_PORTAL_SURFACE.md
  apps/megameal/public/styles/megameal-article.css
  apps/megameal/scripts/audit-built-html.mjs
  apps/megameal/scripts/audit-home-portal-contracts.mjs
  apps/megameal/scripts/audit-site-contracts.mjs
  apps/megameal/src/components/client/SiteArrivalStatus.astro
  apps/megameal/src/components/home/HomeIntroActivation.svelte
  apps/megameal/src/components/home/PortalHeroBackgroundSlide.astro
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/content/posts/Timeline.mdx
  apps/megameal/src/content/posts/timelines/competing-singularities.mdx
  apps/megameal/src/content/posts/timelines/corporate-empire.mdx
  apps/megameal/src/content/posts/timelines/digital-awakening.mdx
  apps/megameal/src/content/posts/timelines/metadata-sentience.mdx
  apps/megameal/src/content/posts/timelines/quantum-time-travel.mdx
  apps/megameal/src/content/posts/timelines/singularity-battle.mdx
  apps/megameal/src/content/posts/timelines/spork-uprising.mdx
  apps/megameal/src/layouts/Layout.astro
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/styles/foundation/components-core.css
  apps/megameal/src/utils/megamealRouteTransitions.ts
  packages/blog-core/src/layouts/Layout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(megameal): restore immediate portal playback
  apps/megameal/scripts/audit-home-portal-contracts.mjs
  apps/megameal/src/components/home/HomeIntroActivation.svelte
  apps/megameal/src/components/home/PortalHeroBackgroundSlide.astro
  apps/megameal/src/components/home/PortalHeroSlide.astro
  apps/megameal/src/styles/routeStyleBundles.server.ts
Due: deploy-megameal

fix(megameal): preserve hydration and tune mobile portal
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
  apps/megameal/astro.config.mjs
  apps/megameal/scripts/audit-built-html.mjs
  apps/megameal/scripts/audit-home-portal-contracts.mjs
  apps/megameal/src/components/home/HomeIntroEnvironment.svelte
Due: deploy-megameal

docs(megameal): record hydration repair evidence
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
Due: deploy-megameal

refactor(megameal): reconcile runtime and timeline ownership
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
  apps/megameal/scripts/audit-built-html.mjs
  apps/megameal/scripts/audit-timeline-interactions.mjs
  apps/megameal/src/components/Navbar.astro
  apps/megameal/src/components/client/SiteAudioControl.svelte
  apps/megameal/src/components/client/SiteAudioRuntime.svelte
  apps/megameal/src/components/store/StoreCartButton.svelte
  apps/megameal/src/components/timeline/TimelineBanner.astro
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarouselScene.svelte
  apps/megameal/src/components/timeline/TimelineViewModeButton.svelte
  apps/megameal/src/components/timeline/timelinePortalCarouselModel.ts
  apps/megameal/src/config/banners/index.ts
  apps/megameal/src/config/banners/timeline.ts
  apps/megameal/src/layouts/MainGridLayout.astro
  apps/megameal/src/layouts/TimelinePageLayout.astro
  apps/megameal/src/pages/timeline.astro
  apps/megameal/src/pages/timeline/2d.astro
  apps/megameal/src/styles/features/home/portal-sponsored-bloom.css
  apps/megameal/src/styles/foundation/forms-effects-accessibility.css
  apps/megameal/src/styles/foundation/timeline-banner-layout.css
  apps/megameal/src/utils/date-utils.ts
  apps/megameal/src/utils/setting-utils.ts
  apps/megameal/src/utils/url-utils.ts
  packages/blog-core/src/components/banner-stage/BannerStage.astro
  packages/blog-core/src/layouts/MainGridLayout.astro
  packages/blog-core/src/styles/main.css
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix(megameal): restore timeline presentation and refine mobile portal
  apps/megameal/scripts/audit-timeline-interactions.mjs
  apps/megameal/src/components/home/PortalSponsoredBloom.astro
  apps/megameal/src/components/timeline/TimelineConstellationOverlay.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarouselScene.svelte
  apps/megameal/src/components/timeline/TimelineSelectedRecord.svelte
  apps/megameal/src/components/timeline/timelinePortalCarouselModel.ts
  apps/megameal/src/styles/features/home/portal-sponsored-bloom.css
  packages/blog-core/src/components/banner-stage/BannerStage.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat(megameal): add tentacle scene and refine timeline motion
  apps/megameal/public/assets/3D/tentacle.glb
  apps/megameal/public/assets/3D/tentacle2.glb
  apps/megameal/public/assets/3D/tentacle2_hires.glb
  apps/megameal/scripts/audit-timeline-interactions.mjs
  apps/megameal/src/components/home/HomeIntroEnvironmentScene.svelte
  apps/megameal/src/components/home/HomeIntroTentacleModel.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarousel.svelte
  apps/megameal/src/components/timeline/TimelinePortalCarouselScene.svelte
  apps/megameal/src/components/timeline/timelinePortalPresentation.ts
  apps/megameal/src/config/config.ts
Due: deploy-megameal

fix(megameal): contain product viewer on narrow screens
  apps/megameal/src/styles/features/store/featured-product/featured-product-related-modal.css
  apps/megameal/src/styles/routeStyleBundles.server.ts
Due: deploy-megameal

docs(megameal): reconcile phase 1 validation
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
Due: deploy-megameal

perf(megameal): add responsive archive and store media
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
  apps/megameal/public/ads/puppy-rescue-card-320.webp
  apps/megameal/public/ads/puppy-rescue-card-640.webp
  apps/megameal/public/ads/the-dip-card-320.webp
  apps/megameal/public/ads/the-dip-card-640.webp
  apps/megameal/public/assets/banner/archive-still-1280.webp
  apps/megameal/public/assets/banner/archive-still-1920.webp
  apps/megameal/public/posts/cookbook/cookbook-card-320.webp
  apps/megameal/public/posts/cookbook/cookbook-card-640.webp
  apps/megameal/public/posts/timeline/dont-card-320.webp
  apps/megameal/public/posts/timeline/dont-card-640.webp
  apps/megameal/src/components/archive/ArchiveAtmosphere.svelte
  apps/megameal/src/components/store/MarketplaceListingCard.astro
  apps/megameal/src/components/store/storefrontController.ts
  apps/megameal/src/content.config.ts
  apps/megameal/src/content/products/first-contact-manual.mdx
  apps/megameal/src/content/products/megameal-cookbook.md
  apps/megameal/src/content/products/puppy-rescue-rations.md
  apps/megameal/src/content/products/the-dip.md
  apps/megameal/src/contracts/products.ts
  apps/megameal/src/pages/store.astro
Due: deploy-megameal

docs(megameal): record Phase 2 preview evidence
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
Due: deploy-megameal

docs(megameal): record Phase 2 deployment evidence
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
Due: deploy-megameal

feat(ainekio): refresh V2 site and concise field guide
  apps/ainekio/public/assets/ainekio/v2/artwork.json
  apps/ainekio/public/assets/ainekio/v2/body-design-concept.webp
  apps/ainekio/public/assets/ainekio/v2/bounded-autonomy-concept.webp
  apps/ainekio/public/assets/ainekio/v2/controller-firmware-concept.webp
  apps/ainekio/public/assets/ainekio/v2/evolution-concept.webp
  apps/ainekio/public/assets/ainekio/v2/gateway-simulator-concept.webp
  apps/ainekio/public/assets/ainekio/v2/hero-concept-small.webp
  apps/ainekio/public/assets/ainekio/v2/hero-concept.webp
  apps/ainekio/public/assets/ainekio/v2/hybrid-concept.webp
  apps/ainekio/public/assets/ainekio/v2/metahuman-loop-concept.webp
  apps/ainekio/public/assets/ainekio/v2/protocol-safety-concept.webp
  apps/ainekio/public/assets/ainekio/v2/vision-loop-concept.webp
  apps/ainekio/public/assets/ainekio/v2/voice-loop-concept.webp
  apps/ainekio/public/assets/ainekio/v2/workshop-concept.webp
  apps/ainekio/public/assets/avatar/avatar.webp
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/components/ConfigCarrier.astro
  apps/ainekio/src/config/config.ts
  apps/ainekio/src/content/avatar/avatar.webp
  apps/ainekio/src/content/posts/Ainekio-V2.mdx
  apps/ainekio/src/content/posts/Body-Design-and-Hardware.mdx
  apps/ainekio/src/content/posts/Bounded-Autonomy.mdx
  apps/ainekio/src/content/posts/Controller-Firmware.mdx
  apps/ainekio/src/content/posts/Current-Status.mdx
  apps/ainekio/src/content/posts/Gateway-and-Simulator.mdx
  apps/ainekio/src/content/posts/MetaHuman-Integration.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/posts/Protocol-and-Safety.mdx
  apps/ainekio/src/content/posts/Vision-Loop.mdx
  apps/ainekio/src/content/posts/Voice-Loop.mdx
  apps/ainekio/src/content/posts/archive/First-Steps-Work-In-Progress.mdx
  apps/ainekio/src/content/posts/archive/Motion-Systems.mdx
  apps/ainekio/src/content/spec/about.md
  apps/ainekio/src/content/updates/site-updates.md
  apps/ainekio/src/layouts/Layout.astro
  apps/ainekio/src/pages/[...page].astro
  apps/ainekio/src/pages/about.astro
  apps/ainekio/src/styles/main.css
Due: none

docs(ainekio): update field guide and September progress
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/config/config.ts
  apps/ainekio/src/content/posts/Ainekio-V2.mdx
  apps/ainekio/src/content/posts/Body-Design-and-Hardware.mdx
  apps/ainekio/src/content/posts/Bounded-Autonomy.mdx
  apps/ainekio/src/content/posts/Controller-Firmware.mdx
  apps/ainekio/src/content/posts/Current-Status.mdx
  apps/ainekio/src/content/posts/Gateway-and-Simulator.mdx
  apps/ainekio/src/content/posts/MetaHuman-Integration.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/posts/Protocol-and-Safety.mdx
  apps/ainekio/src/content/posts/Vision-Loop.mdx
  apps/ainekio/src/content/posts/Voice-Loop.mdx
  apps/ainekio/src/content/posts/archive/First-Steps-Work-In-Progress.mdx
  apps/ainekio/src/content/posts/archive/Motion-Systems.mdx
  apps/ainekio/src/content/spec/about.md
  apps/ainekio/src/content/updates/site-updates.md
  apps/ainekio/src/pages/updates.astro
Due: none

docs(ainekio): update build progress and project portal
  apps/ainekio/public/assets/ainekio/v2/artwork.json
  apps/ainekio/public/assets/ainekio/v2/assembly-september-10-concept.webp
  apps/ainekio/public/photos/20260914_152101.jpg
  apps/ainekio/public/photos/20260914_152130.jpg
  apps/ainekio/public/photos/20260914_152236.jpg
  apps/ainekio/public/posts/2026-09-09-leg-study/coupling-and-transmission.png
  apps/ainekio/public/posts/2026-09-09-leg-study/three-variants.png
  apps/ainekio/public/posts/2026-09-10-v2-design/chassis-overview.png
  apps/ainekio/public/posts/2026-09-10-v2-design/electronics-layout.png
  apps/ainekio/public/posts/2026-09-10-v2-design/face-assembly.png
  apps/ainekio/public/posts/2026-09-10-v2-design/face-rear-detail.png
  apps/ainekio/public/posts/2026-09-10-v2-design/fitted-covers.png
  apps/ainekio/public/posts/2026-09-10-v2-design/linkage-curve-comparison.png
  apps/ainekio/public/posts/2026-09-10-v2-design/q6a-port-panel.png
  apps/ainekio/public/posts/2026-09-15-leg-prototypes/imported-linkage-cad.png
  apps/ainekio/public/posts/2026-09-15-leg-prototypes/offroad-foot-cad.png
  apps/ainekio/public/posts/2026-09-15-leg-prototypes/shell-clearance-comparison.png
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/components/ProjectStatus.astro
  apps/ainekio/src/config/config.ts
  apps/ainekio/src/content.config.ts
  apps/ainekio/src/content/posts/2026-09-09-Leg-Mechanism-Study.mdx
  apps/ainekio/src/content/posts/2026-09-10-V2-Body-Design.mdx
  apps/ainekio/src/content/posts/2026-09-15-Leg-Prototypes.mdx
  apps/ainekio/src/content/posts/Ainekio-V2.mdx
  apps/ainekio/src/content/posts/Body-Design-and-Hardware.mdx
  apps/ainekio/src/content/posts/Bounded-Autonomy.mdx
  apps/ainekio/src/content/posts/Controller-Firmware.mdx
  apps/ainekio/src/content/posts/MetaHuman-Integration.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/posts/Protocol-and-Safety.mdx
  apps/ainekio/src/content/posts/Vision-Loop.mdx
  apps/ainekio/src/content/posts/Voice-Loop.mdx
  apps/ainekio/src/content/posts/archive/2026-09-09-Project-Status.mdx
  apps/ainekio/src/content/posts/archive/First-Steps-Work-In-Progress.mdx
  apps/ainekio/src/content/spec/about.md
  apps/ainekio/src/content/updates/site-updates.md
  apps/ainekio/src/pages/posts/current-status.astro
Due: none

docs(ainekio): document variable gait integration
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/ainekio-variable-gait-demo.mp4
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/ainekio-gait-geometry.json
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/ainekio-gait-timestamps.csv
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/ainekio_gait.py
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/blender-validation.json
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/check_controls.py
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/collision-screen.json
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/control-checks.json
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/gait-data-results.json
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/gait-data-schema.json
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/gait-data.npz
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/provenance.json
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/source-report.txt
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/data/speed-percentage-table.csv
  apps/ainekio/public/posts/gait-development/2026-09-21-variable-gait/demo-poster.webp
  apps/ainekio/src/content/posts/Ainekio-V2.mdx
  apps/ainekio/src/content/posts/Gait-Development.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/spec/about.md
  apps/ainekio/src/content/updates/site-updates.md
Due: none

docs(ainekio): publish motion, body and battery progress
  apps/ainekio/public/posts/2026-09-24-progress/anker-battery-width-comparison.webp
  apps/ainekio/public/posts/2026-09-24-progress/center-mount-tab-reinforcement.webp
  apps/ainekio/public/posts/2026-09-24-progress/extract-motion-ranges.py
  apps/ainekio/public/posts/2026-09-24-progress/front-panel-mounts.webp
  apps/ainekio/public/posts/2026-09-24-progress/motion-ranges.csv
  apps/ainekio/public/posts/2026-09-24-progress/motion-showcase-2x.mp4
  apps/ainekio/public/posts/2026-09-24-progress/motion-showcase.webp
  apps/ainekio/public/posts/2026-09-24-progress/rear-panel-y-taper.webp
  apps/ainekio/public/posts/2026-09-24-progress/run-poster.webp
  apps/ainekio/public/posts/2026-09-24-progress/showcase-chapters.txt
  apps/ainekio/public/posts/2026-09-24-progress/sources.json
  apps/ainekio/public/posts/2026-09-24-progress/v1-physical.webp
  apps/ainekio/public/posts/2026-09-24-progress/v2-appearance.webp
  apps/ainekio/public/posts/2026-09-24-progress/walk-run-walk-2x.mp4
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/config/config.ts
  apps/ainekio/src/content/posts/2026-09-24-Body-and-Battery.mdx
  apps/ainekio/src/content/posts/Ainekio-V2.mdx
  apps/ainekio/src/content/posts/Controller-Firmware.mdx
  apps/ainekio/src/content/posts/Gait-Development.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/posts/V1-V2-Comparison.mdx
  apps/ainekio/src/content/spec/about.md
  apps/ainekio/src/content/updates/site-updates.md
  apps/ainekio/src/pages/about.astro
Due: none

Add Ainekio working project index and preserve dated design history
  apps/ainekio/readme.md
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/components/Navbar.astro
  apps/ainekio/src/config/config.ts
  apps/ainekio/src/content/posts/Body-Design-and-Hardware.mdx
  apps/ainekio/src/content/posts/Controller-Firmware.mdx
  apps/ainekio/src/content/posts/Current-Status.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/spec/project-guide.md
  apps/ainekio/src/pages/project-guide.astro
Due: none

Add concise Ainekio project index and preserve generation history
  apps/ainekio/readme.md
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/components/Navbar.astro
  apps/ainekio/src/config/config.ts
  apps/ainekio/src/content/posts/Body-Design-and-Hardware.mdx
  apps/ainekio/src/content/posts/Controller-Firmware.mdx
  apps/ainekio/src/content/posts/Current-Status.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/spec/project-guide.md
  apps/ainekio/src/pages/project-guide.astro
Due: none

Preserve MegaMeal deployment evidence during branch cleanup
  apps/megameal/PERFORMANCE_SCRATCHPAD.md
Due: deploy-megameal

Fix complete dev Pages previews and Ainekio subpath navigation
  .github/workflows/dev-pages-preview.yml
  apps/ainekio/astro.config.mjs
  apps/ainekio/package.json
  apps/ainekio/readme.md
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/scripts/test-base-path.mjs
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/components/timeline/TimelineCard.svelte
  apps/ainekio/src/components/widget/RightRailContent.astro
  apps/ainekio/src/pages/about.astro
  apps/ainekio/src/pages/login.astro
  apps/ainekio/src/plugins/rehype-base-path.mjs
  apps/megameal/scripts/test-google-doc-preview.mjs
  apps/megameal/src/utils/googleDocContent.server.ts
  packages/blog-core/src/components/Footer.astro
  packages/blog-core/src/components/control/Pagination.astro
  packages/blog-core/src/components/svelte/admin/AdminNavbar.svelte
  packages/blog-core/src/components/widget/NavMenuPanel.astro
  packages/blog-core/src/layouts/Layout.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Restore Ainekio theme styles at active layout entry points
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/src/layouts/MainGridLayout.astro
  apps/ainekio/src/pages/updates.astro
Due: none

Avoid unnecessary full-history checkout for complete dev previews
  .github/workflows/dev-pages-preview.yml
Due: none

Refresh Ainekio progress for Q6A and active-loop work
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/content/posts/Current-Status.mdx
  apps/ainekio/src/content/posts/Q6A-Chassis-and-Active-Loop.mdx
  apps/ainekio/src/content/spec/project-guide.md
  apps/ainekio/src/content/updates/site-updates.md
  apps/ainekio/src/pages/updates.astro
  packages/blog-core/src/components/post/UpdatesFeedPage.astro
  packages/blog-core/src/utils/journal-utils.ts
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Illustrate Q6A communication and active-loop foundations
  apps/ainekio/IMAGE_SOURCES.md
  apps/ainekio/public/posts/ainekio-2026/active-loop.svg
  apps/ainekio/public/posts/ainekio-2026/q6a-communication-cover.svg
  apps/ainekio/public/posts/ainekio-2026/q6a-communication.svg
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/src/content/posts/Q6A-Chassis-and-Active-Loop.mdx
Due: none

Preserve preview prefixes on normalized banner images
  apps/ainekio/scripts/check-project-guide.mjs
  packages/blog-core/src/components/misc/ImageWrapper.astro
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

Consolidate Ainekio queue and clarify public project purpose
  apps/ainekio/PROGRESS_SCRATCHPAD.md
  apps/ainekio/readme.md
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/spec/project-guide.md
Due: none

Publish October 6 Ainekio progress alongside remote site updates
  apps/ainekio/public/posts/2026-09-28-progress/assembly-marks.webp
  apps/ainekio/public/posts/2026-09-28-progress/electronics-tray.webp
  apps/ainekio/public/posts/2026-09-28-progress/front-mask.webp
  apps/ainekio/public/posts/2026-09-28-progress/lcd-carrier.webp
  apps/ainekio/public/posts/2026-09-28-progress/rear-carrier-relief.webp
  apps/ainekio/public/posts/2026-09-28-progress/sources.json
  apps/ainekio/public/posts/2026-09-28-progress/wireless-clearance-review.md
  apps/ainekio/public/posts/2026-10-06-progress/electronics-bridge.webp
  apps/ainekio/public/posts/2026-10-06-progress/linkage-comparison.csv
  apps/ainekio/public/posts/2026-10-06-progress/motion-library-point.webp
  apps/ainekio/public/posts/2026-10-06-progress/multipart-face.webp
  apps/ainekio/public/posts/2026-10-06-progress/sit-study.webp
  apps/ainekio/public/posts/2026-10-06-progress/sources.json
  apps/ainekio/public/posts/2026-10-06-progress/upright-study.webp
  apps/ainekio/scripts/check-project-guide.mjs
  apps/ainekio/src/components/AinekioHome.astro
  apps/ainekio/src/config/config.ts
  apps/ainekio/src/content/posts/2026-09-10-V2-Body-Design.mdx
  apps/ainekio/src/content/posts/2026-09-28-Compact-Body.mdx
  apps/ainekio/src/content/posts/2026-09-28-Wired-Wireless-ROS2.mdx
  apps/ainekio/src/content/posts/2026-10-06-Compact-Linkage.mdx
  apps/ainekio/src/content/posts/2026-10-06-Lighter-Rebuild.mdx
  apps/ainekio/src/content/posts/2026-10-06-Steering-Sensing-Connections.mdx
  apps/ainekio/src/content/posts/Ainekio-V2.mdx
  apps/ainekio/src/content/posts/Controller-Firmware.mdx
  apps/ainekio/src/content/posts/Gait-Development.mdx
  apps/ainekio/src/content/posts/Project-Overview.mdx
  apps/ainekio/src/content/posts/V1-V2-Comparison.mdx
  apps/ainekio/src/content/spec/about.md
  apps/ainekio/src/content/spec/project-guide.md
  apps/ainekio/src/content/updates/site-updates.md
  apps/ainekio/src/pages/about.astro
Due: none
