Repository Greg-Aster/merkin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

.gitlab-ci.yml:

# GitLab CI — replaces .github/workflows/deploy-sites.yml
# Builds and deploys to Cloudflare Pages via wrangler.
#
# Required GitLab CI/CD Variables (Settings → CI/CD → Variables):
#   CLOUDFLARE_API_TOKEN  — token with Pages:Edit permission (Masked)
#   CLOUDFLARE_ACCOUNT_ID — your Cloudflare account ID (Masked)
#
# Manual deploy: Pipelines → Run Pipeline → set DEPLOY_SITE to one of:
#   all | temporal | dndiy | megameal | travel

image: node:22

variables:
  PNPM_VERSION: "9.14.4"
  # Set this when triggering manually via the GitLab UI
  DEPLOY_SITE: "none"

stages:
  - deploy

# Applied to all jobs automatically
default:
  before_script:
    - npm install -g pnpm@${PNPM_VERSION} --silent
    - pnpm install --frozen-lockfile

# ─── Temporal-Flow → temporalflow.org ────────────────────────────────────────
deploy-temporal:
  stage: deploy
  script:
    - pnpm deploy:temporal
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE != "web"'
      changes:
        - Temporal-Flow/**/*
        - packages/blog-core/**/*
        - package.json
        - pnpm-lock.yaml
        - pnpm-workspace.yaml
        - .gitlab-ci.yml
    - if: '$CI_PIPELINE_SOURCE == "web" && ($DEPLOY_SITE == "all" || $DEPLOY_SITE == "temporal")'
  environment:
    name: temporal-production
    url: https://temporalflow.org

# ─── DNDIY → dndiy.org ───────────────────────────────────────────────────────
deploy-dndiy:
  stage: deploy
  script:
    - pnpm deploy:dndiy
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE != "web"'
      changes:
        - DNDIY.github.io/**/*
        - packages/blog-core/**/*
        - package.json
        - pnpm-lock.yaml
        - pnpm-workspace.yaml
        - .gitlab-ci.yml
    - if: '$CI_PIPELINE_SOURCE == "web" && ($DEPLOY_SITE == "all" || $DEPLOY_SITE == "dndiy")'
  environment:
    name: dndiy-production
    url: https://dndiy.org

# ─── MEGAMEAL → megameal.org ──────────────────────────────────────────────────
deploy-megameal:
  stage: deploy
  script:
    - pnpm deploy:megameal
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE != "web"'
      changes:
        - MEGAMEAL/**/*
        - .gitlab-ci.yml
    - if: '$CI_PIPELINE_SOURCE == "web" && ($DEPLOY_SITE == "all" || $DEPLOY_SITE == "megameal")'
  environment:
    name: megameal-production
    url: https://megameal.org

# ─── Travel → travel.dndiy.org ───────────────────────────────────────────────
deploy-travel:
  stage: deploy
  script:
    - pnpm deploy:travel
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE != "web"'
      changes:
        - apps/travel/**/*
        - packages/blog-core/**/*
        - package.json
        - pnpm-lock.yaml
        - pnpm-workspace.yaml
        - .gitlab-ci.yml
    - if: '$CI_PIPELINE_SOURCE == "web" && ($DEPLOY_SITE == "all" || $DEPLOY_SITE == "travel")'
  environment:
    name: travel-production
    url: https://travel.dndiy.org

fix: replace YAML anchors with default: keyword in GitLab CI
  .gitlab-ci.yml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix: simplify GitLab CI to diagnose pipeline failure
  .gitlab-ci.yml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

test: minimal CI job to diagnose runner infrastructure
  .gitlab-ci.yml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

feat: restore full deploy CI with smart change detection
  .gitlab-ci.yml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

layout bug fixes related to monorepo setup
  DNDIY.github.io/astro.config.mjs
  DNDIY.github.io/src/components/Search.svelte
  DNDIY.github.io/src/layouts/Layout.astro
  DNDIY.github.io/src/types/config.ts
  DNDIY.github.io/tailwind.config.cjs
  Temporal-Flow/astro.config.mjs
  Temporal-Flow/src/components/Search.svelte
  Temporal-Flow/src/layouts/Layout.astro
  Temporal-Flow/src/types/config.ts
  Temporal-Flow/tailwind.config.cjs
  packages/blog-core/src/components/LightDarkSwitch.svelte
  packages/blog-core/src/components/widget/DisplaySettings.svelte
  packages/blog-core/src/layouts/Layout.astro
Due: deploy-temporal, deploy-dndiy, deploy-travel

ci: make preview/promote/prod deploy flow explicit
  .gitlab-ci.yml
  package.json
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

ci: add pnpm caching and remove lockfile cascade triggers
  .gitlab-ci.yml
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

fix: remove old travel index.astro, use blog-core [...page].astro instead
  apps/travel/src/pages/index.astro
Due: deploy-travel

fix: use client:only="svelte" for PostEditor and AdminConfigPanel
  DNDIY.github.io/src/pages/configs.astro
  DNDIY.github.io/src/pages/new-post.astro
  Temporal-Flow/src/pages/configs.astro
  Temporal-Flow/src/pages/new-post.astro
  apps/travel/src/content/posts/_template.md
  apps/travel/src/pages/configs.astro
  apps/travel/src/pages/new-post.astro
Due: deploy-temporal, deploy-dndiy, deploy-travel

fix: override GITHUB_REPOSITORY in workflow build steps for correct base URLs
  .github/workflows/deploy-sites.yml
Due: none

feat: add CNAME files and switch all sites to custom domain builds
  .github/workflows/deploy-sites.yml
  DNDIY.github.io/CNAME
  MEGAMEAL/CNAME
  Temporal-Flow/CNAME
  apps/travel/CNAME
Due: deploy-temporal, deploy-dndiy, deploy-megameal, deploy-travel

ci: add GitHub Actions workflow to mirror main branch to GitLab
  .github/workflows/mirror-to-gitlab.yml
Due: none
